{
  "openapi": "3.1.0",
  "info": { "title": "Ashby API", "version": "unknown" },
  "servers": [{ "url": "https://api.ashbyhq.com" }],
  "components": {
    "securitySchemes": { "sec0": { "type": "http", "scheme": "basic" } }
  },
  "security": [{ "sec0": [] }],
  "paths": {
    "/jobPosting.list": {
      "post": {
        "summary": "jobPosting.list",
        "description": "List all published job postings.",
        "operationId": "jobpostinglist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "location": {
                    "type": "string",
                    "description": "filter by location name (case sensitive)"
                  },
                  "department": {
                    "type": "string",
                    "description": "filter by department name (case sensitive)"
                  },
                  "listedOnly": {
                    "type": "boolean",
                    "description": "If true, filter out unlisted job postings.",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"success\": true,\n  \"results\": [\n    {\n      \"id\": \"d5a6bc97-4259-4bc5-b3fe-6d3edfd538e3\",\n      \"title\": \"Posting Title\",\n      \"jobId\": \"ffe0f014-2da6-4680-9a66-e34ce5b7f976\",\n      \"departmentName\": \"Test Team\",\n      \"locationName\": \"Springfield\",\n      \"employmentType\": \"FullTime\",\n      \"isListed\": true,\n      \"publishedDate\": \"2021-11-19\",\n      \"externalLink\": \"https://jobs.ashbyhq.com/6eec82ac-9713-512d-ac2e-405618935375/d5a6bc97-4259-4bc5-b3fe-6d3edfd538e3\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "d5a6bc97-4259-4bc5-b3fe-6d3edfd538e3"
                          },
                          "title": {
                            "type": "string",
                            "example": "Posting Title"
                          },
                          "jobId": {
                            "type": "string",
                            "example": "ffe0f014-2da6-4680-9a66-e34ce5b7f976"
                          },
                          "departmentName": {
                            "type": "string",
                            "example": "Test Team"
                          },
                          "locationName": {
                            "type": "string",
                            "example": "Springfield"
                          },
                          "employmentType": {
                            "type": "string",
                            "example": "FullTime"
                          },
                          "isListed": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "publishedDate": {
                            "type": "string",
                            "example": "2021-11-19"
                          },
                          "externalLink": {
                            "type": "string",
                            "example": "https://jobs.ashbyhq.com/6eec82ac-9713-512d-ac2e-405618935375/d5a6bc97-4259-4bc5-b3fe-6d3edfd538e3"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request POST 'https://api.ashbyhq.com/jobPosting.list' \\\n--header 'Authorization: Basic YjNiOTdhNTQ5MGE4ZDUyMjQ3Y2NmNjcxNTJiMTFmNzUwYmYyYWFiM2I5ZjJjNzk4MTI2ODBmZmM2NzcxYmY5YTo=' \\\n--data-raw '{ \"location\": \"Los Angeles\" }'"
            },
            {
              "language": "javascript",
              "code": "const request = require('request');\nconst options = {\n  'method': 'POST',\n  'url': 'https://api.ashbyhq.com/jobPosting.list',\n  'headers': {\n    'Authorization': 'Basic YjNiOTdhNTQ5MGE4ZDUyMjQ3Y2NmNjcxNTJiMTFmNzUwYmYyYWFiM2I5ZjJjNzk4MTI2ODBmZmM2NzcxYmY5YTo='\n  },\n  body: JSON.stringify({ \"location\": \"Los Angeles\" })\n};\nrequest(options, function (error, response) { \n  if (error) throw new Error(error);\n  console.log(response.body);\n});\n",
              "name": "Node"
            }
          ],
          "samples-languages": ["curl", "javascript"]
        }
      }
    },
    "/jobPosting.info": {
      "post": {
        "summary": "jobPosting.info",
        "description": "Retrieve an individual job posting.",
        "operationId": "jobpostinginfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jobPostingId"],
                "properties": {
                  "jobPostingId": {
                    "type": "string",
                    "description": "ID of the job posting to return"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "success": {
                    "value": "{\n    \"success\": true,\n    \"results\": {\n        \"id\": \"26a4281b-4ab2-4829-b664-7c43d7dbd409\",\n        \"title\": \"Head of Recruiting\",\n        \"jobId\": \"0e40ff34-cc90-4b86-8e91-6547fd39f0dc\",\n        \"departmentName\": \"People\",\n        \"locationName\": \"San Francisco\",\n        \"isListed\": true,\n        \"externalLink\": \"https://jobs.ashbyhq.com/thejobposting\",\n        \"linkedData\": {\n            \"@context\": \"https://schema.org/\",\n            \"@type\": \"JobPosting\",\n            \"title\": \"Head of Recruiting\",\n            \"description\": \"<p style=\\\"min-height:1.2em;margin-top:0;margin-bottom:0\\\">Example org is a great org to work for.</p><p style=\\\"min-height:1.2em;margin-top:0;margin-bottom:0\\\"></p><h1>You responsibilities</h1><ul><li>first</li><li>second</li></ul><h1>Benefits</h1><ul><li>benefit 1</li><li>benefit 2</li></ul>\",\n            \"identifier\": {\n                \"@type\": \"PropertyValue\",\n                \"name\": \"Head of Recruiting\",\n                \"value\": \"26a4281b-4ab2-4829-b664-7c43d7dbd409\"\n            },\n            \"datePosted\": \"2020-04-08\",\n            \"hiringOrganization\": {\n                \"@type\": \"Organization\",\n                \"name\": \"Ashby\",\n                \"sameAs\": \"ashbyhq.com\",\n                \"logo\": \"http://localhost:3000/images/org-theme-logo/ec647f56-f27a-49a1-84af-021ad0a19f21\"\n            },\n            \"jobLocation\": {\n                \"@type\": \"Place\",\n                \"address\": {\n                    \"@type\": \"PostalAddress\",\n                    \"addressLocality\": \"Hartford\",\n                    \"addressRegion\": \"Maine\"\n                }\n            },\n            \"employmentType\": \"FULL_TIME\"\n        },\n        \"publishedDate\": \"2020-04-08\",\n        \"address\": {\n            \"postalAddress\": {\n                \"addressRegion\": \"Maine\",\n                \"addressLocality\": \"Hartford\"\n            }\n        },\n        \"isRemote\": false,\n        \"applicationFormDefinition\": {\n            \"fields\": [\n                {\n                    \"field\": {\n                        \"id\": \"afc7d3c7-5616-423a-b0db-261888f6f10b\",\n                        \"type\": \"String\",\n                        \"path\": \"_systemfield_name\",\n                        \"humanReadablePath\": \"Name\",\n                        \"title\": \"Name\",\n                        \"isNullable\": false\n                    },\n                    \"isRequired\": true\n                },\n                {\n                    \"field\": {\n                        \"id\": \"1c23a4e4-d40a-4574-a3b9-8ec4318421ec\",\n                        \"type\": \"Email\",\n                        \"path\": \"_systemfield_email\",\n                        \"humanReadablePath\": \"Email\",\n                        \"title\": \"Email\",\n                        \"isNullable\": false\n                    },\n                    \"isRequired\": true\n                },\n                {\n                    \"field\": {\n                        \"id\": \"fe05b423-e580-4c4b-8a67-32d354bdfe91\",\n                        \"type\": \"File\",\n                        \"path\": \"_systemfield_resume\",\n                        \"humanReadablePath\": \"Resume\",\n                        \"title\": \"Resume\",\n                        \"isNullable\": false\n                    },\n                    \"isRequired\": true\n                }\n            ]\n        }\n    }\n}  "
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "results": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "26a4281b-4ab2-4829-b664-7c43d7dbd409"
                        },
                        "title": {
                          "type": "string",
                          "example": "Head of Recruiting"
                        },
                        "jobId": {
                          "type": "string",
                          "example": "0e40ff34-cc90-4b86-8e91-6547fd39f0dc"
                        },
                        "departmentName": {
                          "type": "string",
                          "example": "People"
                        },
                        "locationName": {
                          "type": "string",
                          "example": "San Francisco"
                        },
                        "isListed": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        },
                        "externalLink": {
                          "type": "string",
                          "example": "https://jobs.ashbyhq.com/thejobposting"
                        },
                        "linkedData": {
                          "type": "object",
                          "properties": {
                            "@context": {
                              "type": "string",
                              "example": "https://schema.org/"
                            },
                            "@type": {
                              "type": "string",
                              "example": "JobPosting"
                            },
                            "title": {
                              "type": "string",
                              "example": "Head of Recruiting"
                            },
                            "description": {
                              "type": "string",
                              "example": "<p style=\"min-height:1.2em;margin-top:0;margin-bottom:0\">Example org is a great org to work for.</p><p style=\"min-height:1.2em;margin-top:0;margin-bottom:0\"></p><h1>You responsibilities</h1><ul><li>first</li><li>second</li></ul><h1>Benefits</h1><ul><li>benefit 1</li><li>benefit 2</li></ul>"
                            },
                            "identifier": {
                              "type": "object",
                              "properties": {
                                "@type": {
                                  "type": "string",
                                  "example": "PropertyValue"
                                },
                                "name": {
                                  "type": "string",
                                  "example": "Head of Recruiting"
                                },
                                "value": {
                                  "type": "string",
                                  "example": "26a4281b-4ab2-4829-b664-7c43d7dbd409"
                                }
                              }
                            },
                            "datePosted": {
                              "type": "string",
                              "example": "2020-04-08"
                            },
                            "hiringOrganization": {
                              "type": "object",
                              "properties": {
                                "@type": {
                                  "type": "string",
                                  "example": "Organization"
                                },
                                "name": {
                                  "type": "string",
                                  "example": "Ashby"
                                },
                                "sameAs": {
                                  "type": "string",
                                  "example": "ashbyhq.com"
                                },
                                "logo": {
                                  "type": "string",
                                  "example": "http://localhost:3000/images/org-theme-logo/ec647f56-f27a-49a1-84af-021ad0a19f21"
                                }
                              }
                            },
                            "jobLocation": {
                              "type": "object",
                              "properties": {
                                "@type": {
                                  "type": "string",
                                  "example": "Place"
                                },
                                "address": {
                                  "type": "object",
                                  "properties": {
                                    "@type": {
                                      "type": "string",
                                      "example": "PostalAddress"
                                    },
                                    "addressLocality": {
                                      "type": "string",
                                      "example": "Hartford"
                                    },
                                    "addressRegion": {
                                      "type": "string",
                                      "example": "Maine"
                                    }
                                  }
                                }
                              }
                            },
                            "employmentType": {
                              "type": "string",
                              "example": "FULL_TIME"
                            }
                          }
                        },
                        "publishedDate": {
                          "type": "string",
                          "example": "2020-04-08"
                        },
                        "address": {
                          "type": "object",
                          "properties": {
                            "postalAddress": {
                              "type": "object",
                              "properties": {
                                "addressRegion": {
                                  "type": "string",
                                  "example": "Maine"
                                },
                                "addressLocality": {
                                  "type": "string",
                                  "example": "Hartford"
                                }
                              }
                            }
                          }
                        },
                        "isRemote": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "applicationFormDefinition": {
                          "type": "object",
                          "properties": {
                            "fields": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "field": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "example": "afc7d3c7-5616-423a-b0db-261888f6f10b"
                                      },
                                      "type": {
                                        "type": "string",
                                        "example": "String"
                                      },
                                      "path": {
                                        "type": "string",
                                        "example": "_systemfield_name"
                                      },
                                      "humanReadablePath": {
                                        "type": "string",
                                        "example": "Name"
                                      },
                                      "title": {
                                        "type": "string",
                                        "example": "Name"
                                      },
                                      "isNullable": {
                                        "type": "boolean",
                                        "example": false,
                                        "default": true
                                      }
                                    }
                                  },
                                  "isRequired": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "error": {
                    "value": "{\n  success: false,\n  errors: [\"job_posting_not_found\"]\n}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request POST 'https://api.ashbyhq.com/jobPosting.info' \\\n--header 'Authorization: Basic YjNiOTdhNTQ5MGE4ZDUyMjQ3Y2NmNjcxNTJiMTFmNzUwYmYyYWFiM2I5ZjJjNzk4MTI2ODBmZmM2NzcxYmY5YTo=' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{ \"jobPostingId\": \"26a4281b-4ab2-4829-b664-7c43d7dbd409\" }'"
            },
            {
              "language": "javascript",
              "code": "const request = require('request');\nconst options = {\n  'method': 'POST',\n  'url': 'https://api.ashbyhq.com/jobPosting.info',\n  'headers': {\n    'Authorization': 'Basic YjNiOTdhNTQ5MGE4ZDUyMjQ3Y2NmNjcxNTJiMTFmNzUwYmYyYWFiM2I5ZjJjNzk4MTI2ODBmZmM2NzcxYmY5YTo=',\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({\"jobPostingId\":\"26a4281b-4ab2-4829-b664-7c43d7dbd409\"})\n\n};\nrequest(options, function (error, response) { \n  if (error) throw new Error(error);\n  console.log(response.body);\n});",
              "name": "Node"
            }
          ],
          "samples-languages": ["curl", "javascript"]
        }
      }
    },
    "/applicationForm.submit": {
      "post": {
        "summary": "applicationForm.submit",
        "description": "Submit an application for a job posting",
        "operationId": "applicationformsubmit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jobPostingId", "applicationForm"],
                "properties": {
                  "jobPostingId": { "type": "string" },
                  "applicationForm": {
                    "type": "object",
                    "properties": {
                      "fieldSubmissions": {
                        "type": "array",
                        "items": {
                          "properties": {
                            "path": {
                              "type": "string",
                              "description": "The form field's \"path\" value"
                            },
                            "value": {
                              "type": "string",
                              "description": "This is often a primitive, but for a referral job, it should be { title: job.title, value: job.id }"
                            }
                          },
                          "type": "object"
                        }
                      }
                    }
                  },
                  "utmData": {
                    "type": "object",
                    "properties": {
                      "utm_source": { "type": "string" },
                      "utm_campaign": { "type": "string" },
                      "utm_medium": { "type": "string" },
                      "utm_term": { "type": "string" },
                      "utm_content": { "type": "string" }
                    }
                  },
                  "<file  key>": {
                    "type": "string",
                    "description": "Any file referenced  in the `applicationForm`.   The name of this field must exactly match the `value` on the `fieldSubmission` that references this file.",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "success": {
                    "value": "{\n    \"success\": true,\n    \"results\": {\n        \"submittedFormInstance\": {\n            \"id\": \"bfb073f4-3ad4-48b6-b915-a797e85b0fb0\",\n            \"formDefinition\": {\n                \"fields\": [\n                    {\n                        \"field\": {\n                            \"id\": \"25074c47-daef-4317-b018-063eaaa79472\",\n                            \"type\": \"String\",\n                            \"path\": \"_systemfield_name\",\n                            \"humanReadablePath\": \"Name\",\n                            \"title\": \"Name\",\n                            \"isNullable\": false\n                        },\n                        \"isRequired\": true\n                    },\n                    {\n                        \"field\": {\n                            \"id\": \"f0253048-7778-4dbe-b8c3-54903d61147f\",\n                            \"type\": \"Email\",\n                            \"path\": \"_systemfield_email\",\n                            \"humanReadablePath\": \"Email\",\n                            \"title\": \"Email\",\n                            \"isNullable\": false\n                        },\n                        \"isRequired\": true\n                    },\n                    {\n                        \"field\": {\n                            \"id\": \"04f7d23c-e026-4967-94cb-7e042e6a6570\",\n                            \"type\": \"File\",\n                            \"path\": \"_systemfield_resume\",\n                            \"humanReadablePath\": \"Resume\",\n                            \"title\": \"Resume\",\n                            \"isNullable\": false\n                        },\n                        \"isRequired\": true\n                    },\n                    {\n                        \"field\": {\n                            \"id\": \"0acb1ee7-df52-41ab-be7b-d53fbae87076\",\n                            \"type\": \"String\",\n                            \"path\": \"website\",\n                            \"humanReadablePath\": \"Github\",\n                            \"title\": \"Github Link\",\n                            \"isNullable\": false\n                        },\n                        \"isRequired\": false\n                    },\n                    {\n                        \"field\": {\n                            \"id\": \"2f64735a-662a-4449-bd87-0af29a27f4ce\",\n                            \"type\": \"String\",\n                            \"path\": \"b40427a4-4a6a-46ca-b051-2f6bbf4c448c\",\n                            \"humanReadablePath\": \"\",\n                            \"title\": \"\",\n                            \"isNullable\": false\n                        },\n                        \"isRequired\": false\n                    }\n                ]\n            },\n            \"submittedValues\": {\n                \"_systemfield_name\": \"Egg Zample\",\n                \"_systemfield_email\": \"egg@example.com\",\n                \"_systemfield_resume\": \"b7b756b6-53cd-46fe-8e72-cead1952e866\"\n            }\n        }\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "results": {
                      "type": "object",
                      "properties": {
                        "submittedFormInstance": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "bfb073f4-3ad4-48b6-b915-a797e85b0fb0"
                            },
                            "formDefinition": {
                              "type": "object",
                              "properties": {
                                "fields": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "field": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string",
                                            "example": "25074c47-daef-4317-b018-063eaaa79472"
                                          },
                                          "type": {
                                            "type": "string",
                                            "example": "String"
                                          },
                                          "path": {
                                            "type": "string",
                                            "example": "_systemfield_name"
                                          },
                                          "humanReadablePath": {
                                            "type": "string",
                                            "example": "Name"
                                          },
                                          "title": {
                                            "type": "string",
                                            "example": "Name"
                                          },
                                          "isNullable": {
                                            "type": "boolean",
                                            "example": false,
                                            "default": true
                                          }
                                        }
                                      },
                                      "isRequired": {
                                        "type": "boolean",
                                        "example": true,
                                        "default": true
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "submittedValues": {
                              "type": "object",
                              "properties": {
                                "_systemfield_name": {
                                  "type": "string",
                                  "example": "Egg Zample"
                                },
                                "_systemfield_email": {
                                  "type": "string",
                                  "example": "egg@example.com"
                                },
                                "_systemfield_resume": {
                                  "type": "string",
                                  "example": "b7b756b6-53cd-46fe-8e72-cead1952e866"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --location --request POST 'https://api.ashbyhq.com/applicationForm.submit' \\\n--header 'Content-Type: multipart/form-data' \\\n--header 'Authorization: Basic YjNiOTdhNTQ5MGE4ZDUyMjQ3Y2NmNjcxNTJiMTFmNzUwYmYyYWFiM2I5ZjJjNzk4MTI2ODBmZmM2NzcxYmY5YTo=' \\\n--form 'applicationForm={\"fieldSubmissions\":[{\"path\":\"_systemfield_name\",\"value\":\"Egg Zample\"},{\"path\":\"_systemfield_email\",\"value\":\"egg@example.com\"},{\"path\":\"_systemfield_resume\",\"value\":\"resume_1\"}]}' \\\n--form 'resume_1=@/path/to/file' \\\n--form 'jobPostingId=26a4281b-4ab2-4829-b664-7c43d7dbd409'"
            },
            {
              "language": "javascript",
              "code": "const request = require('request');\nconst fs = require('fs');\nconst options = {\n  'method': 'POST',\n  'url': 'https://api.ashbyhq.com/applicationForm.submit',\n  'headers': {\n    'Content-Type': 'multipart/form-data',\n    'Authorization': 'Basic YjNiOTdhNTQ5MGE4ZDUyMjQ3Y2NmNjcxNTJiMTFmNzUwYmYyYWFiM2I5ZjJjNzk4MTI2ODBmZmM2NzcxYmY5YTo='\n  },\n  formData: {\n    'applicationForm': '{\"fieldSubmissions\":[{\"path\":\"_systemfield_name\",\"value\":\"Egg Zample\"},{\"path\":\"_systemfield_email\",\"value\":\"egg@example.com\"},{\"path\":\"_systemfield_resume\",\"value\":\"resume_1\"}]}',\n    'resume_1': {\n      'value': fs.createReadStream('/path/to/file'),\n      'options': {\n        'filename': 'Profile (2).pdf',\n        'contentType': null\n      }\n    },\n    'jobPostingId': '26a4281b-4ab2-4829-b664-7c43d7dbd409'\n  }\n};\nrequest(options, function (error, response) { \n  if (error) throw new Error(error);\n  console.log(response.body);\n});",
              "name": "Node"
            }
          ],
          "samples-languages": ["curl", "javascript"]
        }
      }
    },
    "/application.list": {
      "post": {
        "summary": "application.list",
        "description": "",
        "operationId": "applicationlist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cursor": {
                    "type": "string",
                    "description": "Opaque cursor indicating which page of results to fetch"
                  },
                  "syncToken": {
                    "type": "string",
                    "description": "Opaque token representing the last time a full set of results was fetched."
                  },
                  "createdAfter": {
                    "type": "integer",
                    "description": "Will only return applications after this date, in milliseconds since the unix epoch",
                    "format": "int64"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"success\": true,\n  \"results\": [\n    {\n      \"id\": \"b6296414-155f-4c18-8fe6-7ab9f4736179\",\n      \"createdAt\": \"2020-05-01T15:27:13.231Z\",\n      \"updatedAt\": \"2021-01-21T01:48:57.835Z\",\n      \"candidate\": {\n        \"id\": \"ef46a6a0-7e67-4e97-a27b-264f77bdfd15\",\n        \"name\": \"Arty Ficial\",\n        \"primaryEmailAddress\": {\n          \"value\": \"arty.ficial@example.com\",\n          \"type\": \"Personal\",\n          \"isPrimary\": true\n        }\n      },\n      \"status\": \"Active\",\n      \"creditedToUser\": {\n      \t\"id\": \"7ca6e504-c0dd-4fad-8372-0503c3aa62c8\",\n     \t\t\"firstName\": \"Ben\",\n      \t\"lastName\": \"Asher\",\n      \t\"email\": \"ben@ashbyhq.com\"\n    \t},\n      \"customFields\": [],\n      \"currentInterviewStage\": {\n        \"id\": \"87ca70cd-2222-4831-9b97-dbd9e10dc396\",\n        \"title\": \"Offer\",\n        \"type\": \"Offer\",\n        \"interviewPlanId\": \"dcaf9541-435c-4f56-8312-82de3ba55194\",\n        \"orderInInterviewPlan\": 1006\n      },\n      \"source\": {\n        \"id\": \"2239527d-df21-4e3a-b490-bd6b94d6a956\",\n        \"title\": \"Applied\",\n        \"isArchived\": false\n      },\n      \"archiveReason\": null,\n      \"job\": {\n        \"id\": \"4071538b-3cac-4fbf-ac76-f78ed250ffdd\",\n        \"title\": \"First Designer\"\n      }\n    },\n    {\n      \"id\": \"41704e26-aaf1-4e0b-9813-c2915d760922\",\n      \"createdAt\": \"2020-05-07T23:01:14.665Z\",\n      \"updatedAt\": \"2020-05-07T23:01:15.588Z\",\n      \"candidate\": {\n        \"id\": \"90ade66f-9403-4469-a646-edf388994d8a\",\n        \"name\": \"Chet Faker\",\n        \"primaryEmailAddress\": {\n          \"value\": \"chet.faker@example.com\",\n          \"type\": \"Personal\",\n          \"isPrimary\": true\n        }\n      },\n      \"status\": \"Active\",\n      \"creditedToUser\": null,\n      \"customFields\": [],\n      \"currentInterviewStage\": {\n        \"id\": \"46a5123d-bd2e-41c0-a90c-13640f71949d\",\n        \"title\": \"Application Review\",\n        \"type\": \"PreInterviewScreen\",\n        \"interviewPlanId\": \"dcaf9541-435c-4f56-8312-82de3ba55194\",\n        \"orderInInterviewPlan\": 4\n      },\n      \"source\": {\n        \"id\": \"a5034180-52c7-4f1d-a16d-4665f1199554\",\n        \"title\": \"Applied\",\n        \"isArchived\": false\n      },\n      \"archiveReason\": null,\n      \"job\": {\n        \"id\": \"9cbc2e8c-88cc-4bd6-87e8-dc197fbc6d60\",\n        \"title\": \"Design Manager\"\n      }\n    }\n\t],\n  \"moreDataAvailable\": true,\n  \"nextCursor\": \"Rl\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "b6296414-155f-4c18-8fe6-7ab9f4736179"
                          },
                          "createdAt": {
                            "type": "string",
                            "example": "2020-05-01T15:27:13.231Z"
                          },
                          "updatedAt": {
                            "type": "string",
                            "example": "2021-01-21T01:48:57.835Z"
                          },
                          "candidate": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "ef46a6a0-7e67-4e97-a27b-264f77bdfd15"
                              },
                              "name": {
                                "type": "string",
                                "example": "Arty Ficial"
                              },
                              "primaryEmailAddress": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "string",
                                    "example": "arty.ficial@example.com"
                                  },
                                  "type": {
                                    "type": "string",
                                    "example": "Personal"
                                  },
                                  "isPrimary": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  }
                                }
                              }
                            }
                          },
                          "status": { "type": "string", "example": "Active" },
                          "creditedToUser": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "7ca6e504-c0dd-4fad-8372-0503c3aa62c8"
                              },
                              "firstName": {
                                "type": "string",
                                "example": "Ben"
                              },
                              "lastName": {
                                "type": "string",
                                "example": "Asher"
                              },
                              "email": {
                                "type": "string",
                                "example": "ben@ashbyhq.com"
                              }
                            }
                          },
                          "customFields": { "type": "array" },
                          "currentInterviewStage": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "87ca70cd-2222-4831-9b97-dbd9e10dc396"
                              },
                              "title": { "type": "string", "example": "Offer" },
                              "type": { "type": "string", "example": "Offer" },
                              "interviewPlanId": {
                                "type": "string",
                                "example": "dcaf9541-435c-4f56-8312-82de3ba55194"
                              },
                              "orderInInterviewPlan": {
                                "type": "integer",
                                "example": 1006,
                                "default": 0
                              }
                            }
                          },
                          "source": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "2239527d-df21-4e3a-b490-bd6b94d6a956"
                              },
                              "title": {
                                "type": "string",
                                "example": "Applied"
                              },
                              "isArchived": {
                                "type": "boolean",
                                "example": false,
                                "default": true
                              }
                            }
                          },
                          "archiveReason": {},
                          "job": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "4071538b-3cac-4fbf-ac76-f78ed250ffdd"
                              },
                              "title": {
                                "type": "string",
                                "example": "First Designer"
                              }
                            }
                          }
                        }
                      }
                    },
                    "moreDataAvailable": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "nextCursor": { "type": "string", "example": "Rl" }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request POST 'https://api.ashbyhq.com/application.list' \\\n--header 'Content-Type: application/json' \\\n--header 'Authorization: Basic YjNiOTdhNTQ5MGE4ZDUyMjQ3Y2NmNjcxNTJiMTFmNzUwYmYyYWFiM2I5ZjJjNzk4MTI2ODBmZmM2NzcxYmY5YTo=' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{ \"cursor\": \"Rl\" }'"
            }
          ],
          "samples-languages": ["curl"]
        }
      }
    },
    "/department.list": {
      "post": {
        "summary": "department.list",
        "description": "Lists all departments and teams.",
        "operationId": "departmentlist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "includeArchived": {
                    "type": "boolean",
                    "description": "When true, includes archived departments and teams.",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"success\": true,\n  \"results\": [\n    {\n      \"id\": \"6839f173-cae1-4c84-86dc-6ec0eef3332e\",\n      \"name\": \"Go to Market\",\n      \"parentId\": null,\n      \"isArchived\": false\n    },\n    {\n      \"id\": \"311c2d74-069d-4582-8068-dbb9e471f595\",\n      \"name\": \"Sales\",\n      \"parentId\": \"6839f173-cae1-4c84-86dc-6ec0eef3332e\",\n      \"isArchived\": false\n    },\n    {\n      \"id\": \"311c2d74-069d-4582-8068-dbb9e471f595\",\n      \"name\": \"Customer Success\",\n \t\t\t\"parentId\": \"6839f173-cae1-4c84-86dc-6ec0eef3332e\",\n      \"isArchived\": false\n    },\n    {\n      \"id\": \"7090c2f5-223a-4ce4-95b7-06c5be2feefb\",\n      \"name\": \"Research & Development\",\n      \"parentId\": null,\n      \"isArchived\": false\n    },\n    {\n      \"id\": \"49b5e4a3-6191-4592-9f5b-180afbfa39bc\",\n      \"name\": \"Design\",\n      \"parentId\": \"7090c2f5-223a-4ce4-95b7-06c5be2feefb\",\n      \"isArchived\": false\n    },\n    {\n      \"id\": \"6c69ea84-4bb9-4ac6-b3dc-dcea6b85349f\",\n      \"name\": \"Engineering\",\n      \"parentId\": \"7090c2f5-223a-4ce4-95b7-06c5be2feefb\",\n      \"isArchived\": false\n    },\n    {\n      \"id\": \"11866974-f4c4-4962-b6b8-02e900ead7df\",\n      \"name\": \"Recruiting\",\n      \"parentId\": null,\n      \"isArchived\": false\n    }\n  ],\n  \"moreDataAvailable\": false\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "6839f173-cae1-4c84-86dc-6ec0eef3332e"
                          },
                          "name": {
                            "type": "string",
                            "example": "Go to Market"
                          },
                          "parentId": {},
                          "isArchived": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          }
                        }
                      }
                    },
                    "moreDataAvailable": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/location.list": {
      "post": {
        "summary": "location.list",
        "description": "List all locations. Regions are not returned.",
        "operationId": "locationlits",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "includeArchived": {
                    "type": "boolean",
                    "description": "When true, includes archived locations",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"success\": true,\n  \"results\": [\n    {\n      \"id\": \"1f8becbf-3634-486d-a2b2-e6ddc3e5b501\",\n      \"name\": \"Bay Area Office\",\n      \"isArchived\": false,\n      \"address\": {\n        \"postalAddress\": {\n          \"addressRegion\": \"California\",\n          \"addressLocality\": \"San Francisco\"\n        }\n      }\n    },\n    {\n      \"id\": \"79f28045-597c-498e-939e-933648a652e6\",\n      \"name\": \"Remote\",\n      \"isArchived\": false,\n      \"address\": {\n        \"postalAddress\": {}\n      }\n    },\n    {\n      \"id\": \"3f912beb-639f-41a1-82f9-52e2f185626a\",\n      \"name\": \"Chicago Office\",\n      \"isArchived\": true,\n      \"address\": {\n        \"postalAddress\": {\n          \"addressRegion\": \"IL\",\n          \"addressCountry\": \"USA\",\n          \"addressLocality\": \"Chicago\"\n        }\n      }\n    },\n    {\n      \"id\": \"32f8f226-391d-4aff-85c9-94d1d30a42af\",\n      \"name\": \"Minneapolis Office\",\n      \"isArchived\": false,\n      \"address\": {\n        \"postalAddress\": {\n          \"addressRegion\": \"Minnesota\",\n          \"addressCountry\": \"USA\",\n          \"addressLocality\": \"Minneapolis\"\n        }\n      }\n    }\n  ],\n  \"moreDataAvailable\": false\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "1f8becbf-3634-486d-a2b2-e6ddc3e5b501"
                          },
                          "name": {
                            "type": "string",
                            "example": "Bay Area Office"
                          },
                          "isArchived": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "address": {
                            "type": "object",
                            "properties": {
                              "postalAddress": {
                                "type": "object",
                                "properties": {
                                  "addressRegion": {
                                    "type": "string",
                                    "example": "California"
                                  },
                                  "addressLocality": {
                                    "type": "string",
                                    "example": "San Francisco"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "moreDataAvailable": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/job.list": {
      "post": {
        "summary": "job.list",
        "description": "List all open, closed, and archived jobs",
        "operationId": "joblist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "array",
                    "description": "Only returns jobs matching provided status(es). Possible values are \"Open\", \"Closed\", or \"Archived\".",
                    "default": ["Open", "Closed", "Archived"],
                    "items": { "type": "string" }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "ok.json": {
                    "value": "{\n  \"success\": true,\n  \"results\": [\n    {\n      \"id\": \"b20a9c0b-6b3f-404d-b97b-c1137c4e2397\",\n      \"title\": \"Engineer\",\n      \"confidential\": false,\n      \"status\": \"Open\",\n      \"employmentType\": \"FullTime\",\n      \"locationId\": \"55f2b1de-2b40-4a0b-8282-21787530f045\",\n      \"departmentId\": \"6c69ea84-4bb9-4ac6-b3dc-dcea6b85349f\",\n      \"defaultInterviewPlanId\": \"ccdf7dca-72c0-4892-afcb-ca00a57ca2c9\",\n      \"interviewPlanIds\": [\n        \"ccdf7dca-72c0-4892-afcb-ca00a57ca2c9\"\n      ],\n      \"jobPostingIds\": [\n        \"814f6d31-50c2-4bdc-8ba3-705273743994\"\n      ],\n      \"hiringTeam\": [\n        {\"firstName\": \"Taylor\", \"lastName\": \"Harrison\", \"role\": \"Recruiter\", \"email\":\"taylorharrison@company.com\"}\n      ],\n      \"customFields\": [\n        {\"id\": \"b31fa414-f75c-4536-a9df-56e8c0e387b3\", \"title\": \"Salary\", \"value\": 135000}\n      ]\n    },\n    {\n      \"id\": \"5147686a-e80b-43ae-8e8a-71e084c7c208 \",\n      \"title\": \"Designer\",\n      \"confidential\": false,\n      \"status\": \"Closed\",\n      \"employmentType\": \"FullTime\",\n      \"locationId\": \"05366e5c-5352-4c68-823b-b8f1b2d916a5\",\n      \"departmentId\": \"49b5e4a3-6191-4592-9f5b-180afbfa39bc\",\n      \"defaultInterviewPlanId\": \"ccdf7dca-72c0-4892-afcb-ca00a57ca2c9\",\n      \"interviewPlanIds\": [\n        \"ccdf7dca-72c0-4892-afcb-ca00a57ca2c9\",\n        \"0be0a701-74e5-4fcf-9ebb-86edbecd87a1\"\n      ],\n      \"jobPostingIds\": [\n        \"8a3ca840-a5b9-4a95-bde9-8e91faa8c0b1\",\n        \"ef2a3f3f-309a-40e8-897f-4c2063dfb94f\"\n      ],\n      \"hiringTeam\": [\n        {\"firstName\": \"Taylor\", \"lastName\": \"Harrison\", \"role\": \"Recruiter\", \"email\":\"taylorharrison@company.com\"}\n      ],\n      \"customFields\": [\n        {\"id\": \"b31fa414-f75c-4536-a9df-56e8c0e387b3\", \"title\": \"Salary\", \"value\": 135000}\n      ]\n    }\n  ],\n  \"moreDataAvailable\": false\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "b20a9c0b-6b3f-404d-b97b-c1137c4e2397"
                          },
                          "title": { "type": "string", "example": "Engineer" },
                          "confidential": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "status": { "type": "string", "example": "Open" },
                          "employmentType": {
                            "type": "string",
                            "example": "FullTime"
                          },
                          "locationId": {
                            "type": "string",
                            "example": "55f2b1de-2b40-4a0b-8282-21787530f045"
                          },
                          "departmentId": {
                            "type": "string",
                            "example": "6c69ea84-4bb9-4ac6-b3dc-dcea6b85349f"
                          },
                          "defaultInterviewPlanId": {
                            "type": "string",
                            "example": "ccdf7dca-72c0-4892-afcb-ca00a57ca2c9"
                          },
                          "interviewPlanIds": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "ccdf7dca-72c0-4892-afcb-ca00a57ca2c9"
                            }
                          },
                          "jobPostingIds": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "814f6d31-50c2-4bdc-8ba3-705273743994"
                            }
                          },
                          "hiringTeam": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "firstName": {
                                  "type": "string",
                                  "example": "Taylor"
                                },
                                "lastName": {
                                  "type": "string",
                                  "example": "Harrison"
                                },
                                "role": {
                                  "type": "string",
                                  "example": "Recruiter"
                                },
                                "email": {
                                  "type": "string",
                                  "example": "taylorharrison@company.com"
                                }
                              }
                            }
                          },
                          "customFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "example": "b31fa414-f75c-4536-a9df-56e8c0e387b3"
                                },
                                "title": {
                                  "type": "string",
                                  "example": "Salary"
                                },
                                "value": {
                                  "type": "integer",
                                  "example": 135000,
                                  "default": 0
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "moreDataAvailable": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/interviewPlan.list": {
      "post": {
        "summary": "interviewPlan.list",
        "description": "List all interview plans.",
        "operationId": "interviewplanlist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "includeArchived": {
                    "type": "boolean",
                    "description": "When true, includes archived interview plans",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"success\": true,\n  \"results\": [\n    {\n      \"id\": \"0be0a701-74e5-4fcf-9ebb-86edbecd87a1\",\n      \"title\": \"Default Plan\",\n      \"isArchived\": false\n    },\n    {\n      \"id\": \"ccdf7dca-72c0-4892-afcb-ca00a57ca2c9\",\n      \"title\": \"Engineering Plan\",\n      \"isArchived\": false\n    },\n    {\n      \"id\": \"0be0a701-74e5-4fcf-9ebb-86edbecd87a1\",\n      \"title\": \"Archived Plan\",\n      \"isArchived\": true\n    }\n  ],\n  \"moreDataAvailable\": false\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "0be0a701-74e5-4fcf-9ebb-86edbecd87a1"
                          },
                          "title": {
                            "type": "string",
                            "example": "Default Plan"
                          },
                          "isArchived": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          }
                        }
                      }
                    },
                    "moreDataAvailable": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/interviewStage.list": {
      "post": {
        "summary": "interviewStage.list",
        "description": "List all interview stages for an interview plan in order.",
        "operationId": "interviewstagelist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["interviewPlanId"],
                "properties": { "interviewPlanId": { "type": "string" } }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"success\": true,\n  \"results\": [\n    {\n      \"id\": \"4d9fffbe-42a5-4e20-ae4a-eedaa9472df7\",\n      \"title\": \"New Lead\",\n      \"type\": \"Lead\",\n      \"interviewPlanId\": \"13ab94a1-44be-4396-b5a4-1a8b54dcd4f9\",\n      \"orderInInterviewPlan\": 0\n    },\n    {\n      \"id\": \"c071fe0b-9a42-470e-96b9-6f56c9968cd3\",\n      \"title\": \"Reached Out\",\n      \"type\": \"Lead\",\n      \"interviewPlanId\": \"13ab94a1-44be-4396-b5a4-1a8b54dcd4f9\",\n      \"orderInInterviewPlan\": 3\n    },\n    {\n      \"id\": \"1d897361-2192-40ff-9511-6d36dc91772b\",\n      \"title\": \"Parked\",\n      \"type\": \"Lead\",\n      \"interviewPlanId\": \"13ab94a1-44be-4396-b5a4-1a8b54dcd4f9\",\n      \"orderInInterviewPlan\": 4\n    },\n    {\n      \"id\": \"fa7d12f2-0951-4573-be7d-a2f642e3810\",\n      \"title\": \"Application Review\",\n      \"type\": \"PreInterviewScreen\",\n      \"interviewPlanId\": \"13ab94a1-44be-4396-b5a4-1a8b54dcd4f9\",\n      \"orderInInterviewPlan\": 5\n    },\n    {\n      \"id\": \"dd8b769c-901b-48db-9e98-4ac53f74fb36\",\n      \"title\": \"Recruiter Screen\",\n      \"type\": \"Active\",\n      \"interviewPlanId\": \"13ab94a1-44be-4396-b5a4-1a8b54dcd4f9\",\n      \"orderInInterviewPlan\": 6\n    },\n    {\n      \"id\": \"00cb8686-6fa5-44be-b18e-ee24e6308b42\",\n      \"title\": \"Hiring Manager Screen\",\n      \"type\": \"Active\",\n      \"interviewPlanId\": \"13ab94a1-44be-4396-b5a4-1a8b54dcd4f9\",\n      \"orderInInterviewPlan\": 7\n    },\n    {\n      \"id\": \"204701d3-435b-4a91-a318-b6c348f0fad6\",\n      \"title\": \"Onsite\",\n      \"type\": \"Active\",\n      \"interviewPlanId\": \"13ab94a1-44be-4396-b5a4-1a8b54dcd4f9\",\n      \"orderInInterviewPlan\": 8\n    },\n    {\n      \"id\": \"de9f53c2-1ea8-4b54-831e-0022c96a6945\",\n      \"title\": \"Offer\",\n      \"type\": \"Offer\",\n      \"interviewPlanId\": \"13ab94a1-44be-4396-b5a4-1a8b54dcd4f9\",\n      \"orderInInterviewPlan\": 1006\n    },\n    {\n      \"id\": \"4f77dd68-cfff-4e47-b6b9-47ae004d5ec3\",\n      \"title\": \"Archived\",\n      \"type\": \"Archived\",\n      \"interviewPlanId\": \"13ab94a1-44be-4396-b5a4-1a8b54dcd4f9\",\n      \"orderInInterviewPlan\": 1007\n    },\n    {\n      \"id\": \"10ed6b7f-caad-4a98-8b1b-d4fd7c5bfb3e\",\n      \"title\": \"Hired\",\n      \"type\": \"Hired\",\n      \"interviewPlanId\": \"13ab94a1-44be-4396-b5a4-1a8b54dcd4f9\",\n      \"orderInInterviewPlan\": 1008\n    }\n  ],\n  \"moreDataAvailable\": false\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "4d9fffbe-42a5-4e20-ae4a-eedaa9472df7"
                          },
                          "title": { "type": "string", "example": "New Lead" },
                          "type": { "type": "string", "example": "Lead" },
                          "interviewPlanId": {
                            "type": "string",
                            "example": "13ab94a1-44be-4396-b5a4-1a8b54dcd4f9"
                          },
                          "orderInInterviewPlan": {
                            "type": "integer",
                            "example": 0,
                            "default": 0
                          }
                        }
                      }
                    },
                    "moreDataAvailable": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/candidate.list": {
      "post": {
        "summary": "candidate.list",
        "description": "",
        "operationId": "candidatelist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cursor": {
                    "type": "string",
                    "description": "Opaque cursor indicating which page of results to fetch"
                  },
                  "syncToken": {
                    "type": "string",
                    "description": "Opaque token representing the last time a full set of results was fetched."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"success\": true,\n  \"results\": [\n    {\n      \"id\": \"e3cb75bf-aa84-466e-a6c1-b8322b257a48\",\n      \"name\": \"Arty Ficial\",\n      \"primaryEmailAddress\": {\n        \"value\": \"arty.ficial@example.com\",\n        \"type\": \"Personal\",\n        \"isPrimary\": true\n      },\n      \"emailAddresses\": [\n        {\n          \"value\": \"arty.ficial@example.com\",\n          \"type\": \"Personal\",\n          \"isPrimary\": true\n        },\n        {\n          \"value\": \"arty.ficial@tyrell.com\",\n          \"type\": \"Work\",\n          \"isPrimary\": true\n        }\n      ],\n      \"phoneNumbers\": [\n        {\n          \"value\": \"311\",\n          \"type\": \"Personal\",\n          \"isPrimary\": true\n        }\n      ],\n      \"socialLinks\": [\n        {\n          \"type\": \"LinkedIn\",\n          \"url\": \"http://www.linkedin.com/in/arty.ficial.sweetener\"\n        }\n      ],\n      \"tags\": [\n        {\n          \"id\": \"f223d7f6-908b-48f0-9237-b201c307f609\",\n          \"title\": \"Voight-Kampff\",\n          \"isArchived\": false\n      \t}\n      ],\n      \"position\": \"Replicant\",\n      \"company\": \"Tyrell Corporation\",\n      \"school\": \"University of California, Berkeley\",\n      \"applicationIds\": [\n        \"23df913f-a238-4e20-bc47-9c10a527e87b\",\n        \"be20c7c5-45cf-4981-a63d-65fdbefd83e1\"\n      ]\n    }\n  ],\n  \"moreDataAvailable\": true,\n  \"nextCursor\": \"Rl\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "e3cb75bf-aa84-466e-a6c1-b8322b257a48"
                          },
                          "name": {
                            "type": "string",
                            "example": "Arty Ficial"
                          },
                          "primaryEmailAddress": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string",
                                "example": "arty.ficial@example.com"
                              },
                              "type": {
                                "type": "string",
                                "example": "Personal"
                              },
                              "isPrimary": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              }
                            }
                          },
                          "emailAddresses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "string",
                                  "example": "arty.ficial@example.com"
                                },
                                "type": {
                                  "type": "string",
                                  "example": "Personal"
                                },
                                "isPrimary": {
                                  "type": "boolean",
                                  "example": true,
                                  "default": true
                                }
                              }
                            }
                          },
                          "phoneNumbers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "value": { "type": "string", "example": "311" },
                                "type": {
                                  "type": "string",
                                  "example": "Personal"
                                },
                                "isPrimary": {
                                  "type": "boolean",
                                  "example": true,
                                  "default": true
                                }
                              }
                            }
                          },
                          "socialLinks": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "LinkedIn"
                                },
                                "url": {
                                  "type": "string",
                                  "example": "http://www.linkedin.com/in/arty.ficial.sweetener"
                                }
                              }
                            }
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "example": "f223d7f6-908b-48f0-9237-b201c307f609"
                                },
                                "title": {
                                  "type": "string",
                                  "example": "Voight-Kampff"
                                },
                                "isArchived": {
                                  "type": "boolean",
                                  "example": false,
                                  "default": true
                                }
                              }
                            }
                          },
                          "position": {
                            "type": "string",
                            "example": "Replicant"
                          },
                          "company": {
                            "type": "string",
                            "example": "Tyrell Corporation"
                          },
                          "school": {
                            "type": "string",
                            "example": "University of California, Berkeley"
                          },
                          "applicationIds": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "23df913f-a238-4e20-bc47-9c10a527e87b"
                            }
                          }
                        }
                      }
                    },
                    "moreDataAvailable": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "nextCursor": { "type": "string", "example": "Rl" }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/offer.list": {
      "post": {
        "summary": "offer.list",
        "description": "Get a list of all offers with their latest version",
        "operationId": "offerlist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cursor": {
                    "type": "string",
                    "description": "Opaque cursor indicating which page of results to fetch"
                  },
                  "syncToken": {
                    "type": "string",
                    "description": "Opaque token representing the last time a full set of results was fetched."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"success\": true,\n  \"results\": [\n    {\n      \"id\": \"cdb03826-582c-416c-91e2-ea07382ab493\",\n      \"decidedAt\": \"2021-03-11T02:16:54.220Z\",\n      \"applicationId\": \"dcbcc10f-3cce-4971-ad54-10960cf9085d\",\n      \"acceptanceStatus\": \"Accepted\",\n      \"latestVersion\": {\n        \"id\": \"48e71157-5946-4de0-ab22-d197ea35888c\",\n        \"startDate\": \"2021-03-15\",\n        \"salary\": {\n          \"value\": 100000,\n          \"currencyCode\": \"USD\"\n        },\n        \"createdAt\": \"2021-03-11T02:16:47.587Z\",\n        \"customFields\": [\n          {\"id\": \"b31fa414-f75c-4536-a9df-56e8c0e387b3\", \"title\": \"Bonus\", \"value\": 15000}\n        ]\n      }\n    }\n  ],\n  \"moreDataAvailable\": false,\n  \"nextCursor\": \"gp5B54qrl\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "cdb03826-582c-416c-91e2-ea07382ab493"
                          },
                          "decidedAt": {
                            "type": "string",
                            "example": "2021-03-11T02:16:54.220Z"
                          },
                          "applicationId": {
                            "type": "string",
                            "example": "dcbcc10f-3cce-4971-ad54-10960cf9085d"
                          },
                          "acceptanceStatus": {
                            "type": "string",
                            "example": "Accepted"
                          },
                          "latestVersion": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "48e71157-5946-4de0-ab22-d197ea35888c"
                              },
                              "startDate": {
                                "type": "string",
                                "example": "2021-03-15"
                              },
                              "salary": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "integer",
                                    "example": 100000,
                                    "default": 0
                                  },
                                  "currencyCode": {
                                    "type": "string",
                                    "example": "USD"
                                  }
                                }
                              },
                              "createdAt": {
                                "type": "string",
                                "example": "2021-03-11T02:16:47.587Z"
                              },
                              "customFields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "example": "b31fa414-f75c-4536-a9df-56e8c0e387b3"
                                    },
                                    "title": {
                                      "type": "string",
                                      "example": "Bonus"
                                    },
                                    "value": {
                                      "type": "integer",
                                      "example": 15000,
                                      "default": 0
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "moreDataAvailable": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "nextCursor": { "type": "string", "example": "gp5B54qrl" }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/offer.info": {
      "post": {
        "summary": "offer.info",
        "description": "",
        "operationId": "offerinfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["offerId"],
                "properties": { "offerId": { "type": "string" } }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"success\": true,\n  \"results\": {\n    \"id\": \"6884078c-d53b-4c6d-8562-3a12841a2e9f\",\n    \"decidedAt\": \"2021-03-11T02:16:54.220Z\",\n    \"applicationId\": \"dcbcc10f-3cce-4971-ad54-10960cf9085d\",\n    \"acceptanceStatus\": \"Accepted\",\n    \"latestVersion\": {\n      \"id\": \"9f53d77d-028c-4fec-b6ec-52b6f6b3f25e\",\n      \"startDate\": \"2021-03-15\",\n      \"salary\": {\n        \"value\": 100000,\n        \"currencyCode\": \"USD\"\n      },\n      \"createdAt\": \"2021-03-11T02:16:47.587Z\",\n      \"customFields\": [\n        {\"id\": \"b31fa414-f75c-4536-a9df-56e8c0e387b3\", \"title\": \"Bonus\", \"value\": 15000}\n      ]\n    },\n    \"versions\": [\n      {\n        \"id\": \"9f53d77d-028c-4fec-b6ec-52b6f6b3f25e\",\n        \"startDate\": \"2021-03-15\",\n        \"salary\": {\n          \"value\": 100000,\n          \"currencyCode\": \"USD\"\n        },\n        \"createdAt\": \"2021-03-11T02:16:47.587Z\",\n        \"customFields\": [\n          {\"id\": \"b31fa414-f75c-4536-a9df-56e8c0e387b3\", \"title\": \"Bonus\", \"value\": 15000}\n        ]\n      },\n      {\n        \"id\": \"f223d7f6-908b-48f0-9237-b201c307f609\",\n        \"startDate\": \"2021-03-14\",\n        \"salary\": {\n          \"value\": 100000,\n          \"currencyCode\": \"USD\"\n        },\n        \"createdAt\": \"2021-03-10T06:36:25.436Z\",\n        \"customFields\": [\n          {\"id\": \"b31fa414-f75c-4536-a9df-56e8c0e387b3\", \"title\": \"Bonus\", \"value\": 15000}\n        ]\n      },\n      {\n        \"id\": \"6436708b-b6dc-452e-bf54-4f8dd9db3a49\",\n        \"startDate\": \"2021-03-14\",\n        \"salary\": {\n          \"value\": 90000,\n          \"currencyCode\": \"USD\"\n        },\n        \"createdAt\": \"2021-03-09T05:22:37.924Z\",\n        \"customFields\": [\n          {\"id\": \"b31fa414-f75c-4536-a9df-56e8c0e387b3\", \"title\": \"Bonus\", \"value\": 15000}\n        ]\n      }\n    ]\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "results": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "6884078c-d53b-4c6d-8562-3a12841a2e9f"
                        },
                        "decidedAt": {
                          "type": "string",
                          "example": "2021-03-11T02:16:54.220Z"
                        },
                        "applicationId": {
                          "type": "string",
                          "example": "dcbcc10f-3cce-4971-ad54-10960cf9085d"
                        },
                        "acceptanceStatus": {
                          "type": "string",
                          "example": "Accepted"
                        },
                        "latestVersion": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "9f53d77d-028c-4fec-b6ec-52b6f6b3f25e"
                            },
                            "startDate": {
                              "type": "string",
                              "example": "2021-03-15"
                            },
                            "salary": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "integer",
                                  "example": 100000,
                                  "default": 0
                                },
                                "currencyCode": {
                                  "type": "string",
                                  "example": "USD"
                                }
                              }
                            },
                            "createdAt": {
                              "type": "string",
                              "example": "2021-03-11T02:16:47.587Z"
                            },
                            "customFields": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "example": "b31fa414-f75c-4536-a9df-56e8c0e387b3"
                                  },
                                  "title": {
                                    "type": "string",
                                    "example": "Bonus"
                                  },
                                  "value": {
                                    "type": "integer",
                                    "example": 15000,
                                    "default": 0
                                  }
                                }
                              }
                            }
                          }
                        },
                        "versions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "9f53d77d-028c-4fec-b6ec-52b6f6b3f25e"
                              },
                              "startDate": {
                                "type": "string",
                                "example": "2021-03-15"
                              },
                              "salary": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "integer",
                                    "example": 100000,
                                    "default": 0
                                  },
                                  "currencyCode": {
                                    "type": "string",
                                    "example": "USD"
                                  }
                                }
                              },
                              "createdAt": {
                                "type": "string",
                                "example": "2021-03-11T02:16:47.587Z"
                              },
                              "customFields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "example": "b31fa414-f75c-4536-a9df-56e8c0e387b3"
                                    },
                                    "title": {
                                      "type": "string",
                                      "example": "Bonus"
                                    },
                                    "value": {
                                      "type": "integer",
                                      "example": 15000,
                                      "default": 0
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/candidate.create": {
      "post": {
        "summary": "candidate.create",
        "description": "Create a candidate",
        "operationId": "candidatecreate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "First and last name of the candidate to be created."
                  },
                  "email": {
                    "type": "string",
                    "description": "Primary, personal email of the candidate to be created."
                  },
                  "linkedInUrl": {
                    "type": "string",
                    "description": "Url to the candidate's LinkedIn profile"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "Primary, personal phone number of the candidate, to be created."
                  },
                  "githubUrl": {
                    "type": "string",
                    "description": "URL to the candidate's GitHub profile"
                  },
                  "alternateEmailAddresses": {
                    "type": "array",
                    "description": "Array of alternate email address to add to the candidate",
                    "items": { "type": "string" }
                  },
                  "website": {
                    "type": "string",
                    "description": "URL to the candidate's website"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"success\": true,\n  \"results\": {\n    \"id\": \"28d85db9-ff26-43d2-a29f-bdd859f17758\",\n    \"name\": \"Arty Ficial Jr.\",\n    \"primaryEmailAddress\": {\n      \"value\": \"arty.ficial@example.com\",\n      \"type\": \"Personal\",\n      \"isPrimary\": true\n    },\n    \"emailAddresses\": [\n      {\n        \"value\": \"arty.ficial@example.com\",\n        \"type\": \"Personal\",\n        \"isPrimary\": true\n      }\n    ],\n    \"phoneNumbers\": [],\n    \"socialLinks\": [\n      {\n        \"type\": \"LinkedIn\",\n        \"url\": \"https://www.linkedin.com/in/arty-ficial-sweetener\"\n      }\n    ],\n    \"tags\": [],\n    \"applicationIds\": []\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "results": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "28d85db9-ff26-43d2-a29f-bdd859f17758"
                        },
                        "name": {
                          "type": "string",
                          "example": "Arty Ficial Jr."
                        },
                        "primaryEmailAddress": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "example": "arty.ficial@example.com"
                            },
                            "type": { "type": "string", "example": "Personal" },
                            "isPrimary": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            }
                          }
                        },
                        "emailAddresses": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string",
                                "example": "arty.ficial@example.com"
                              },
                              "type": {
                                "type": "string",
                                "example": "Personal"
                              },
                              "isPrimary": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              }
                            }
                          }
                        },
                        "phoneNumbers": { "type": "array" },
                        "socialLinks": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "LinkedIn"
                              },
                              "url": {
                                "type": "string",
                                "example": "https://www.linkedin.com/in/arty-ficial-sweetener"
                              }
                            }
                          }
                        },
                        "tags": { "type": "array" },
                        "applicationIds": { "type": "array" }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/candidate.uploadResume": {
      "post": {
        "summary": "candidate.uploadResume",
        "description": "Upload a candidate's resume, parses it, and updates their information.\n\nNote: Existing candidate data always takes precedence over data found by parsing the resume. Resume data only populates candidate data, if it's data that was missing in the candidate model.",
        "operationId": "candidateuploadresume",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["candidateId", "resume"],
                "properties": {
                  "candidateId": { "type": "string" },
                  "resume": { "type": "string", "format": "binary" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"success\": true,\n  \"results\": {\n    \"id\": \"28d85db9-ff26-43d2-a29f-bdd859f17758\",\n    \"name\": \"Arty Ficial Jr.\",\n    \"primaryEmailAddress\": {\n      \"value\": \"arty.ficial@example.com\",\n      \"type\": \"Personal\",\n      \"isPrimary\": true\n    },\n    \"emailAddresses\": [\n      {\n        \"value\": \"arty.ficial@example.com\",\n        \"type\": \"Personal\",\n        \"isPrimary\": true\n      }\n    ],\n    \"phoneNumbers\": [],\n    \"socialLinks\": [\n      {\n        \"type\": \"LinkedIn\",\n        \"url\": \"https://www.linkedin.com/in/arty-ficial-sweetener\"\n      }\n    ],\n    \"tags\": [],\n    \"position\": \"Replicant\",\n    \"company\": \"Tyrell Corporation\",\n    \"school\": \"University of California, Berkeley\",\n    \"applicationIds\": []\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "results": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "28d85db9-ff26-43d2-a29f-bdd859f17758"
                        },
                        "name": {
                          "type": "string",
                          "example": "Arty Ficial Jr."
                        },
[...]
