{"openapi":"3.1.0","info":{"title":"API Reference","version":"1.0","description":"The Cohere Platform is centered around models.\n\nEach model has a different amount of power (i.e. parameters), to be used for different tasks.\n\nCohere also supports finetuning of baseline models to improve performance on downstream tasks or to teach the model large quantities of information which cannot be extracted with few-shot learning or prompt engineering.","summary":"Cohere's API","contact":{"name":"Cohere Developers","url":"https://cohere.com/","email":"team@cohere.ai"},"termsOfService":"https://cohere.com/terms-of-use","license":{"name":"proprietary","url":"https://cohere.com/terms-of-use"}},"servers":[{"url":"https://api.cohere.ai/v1","description":"production"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"/datasets","description":"Datasets API"},{"name":"/connectors","description":"Connectors API"},{"name":"/embed-jobs","description":"Embed Jobs API"},{"name":"/finetuning","description":"Finetuning API (Beta)"}],"paths":{"/chat":{"post":{"parameters":[{"$ref":"#/components/parameters/RequestSource"}],"x-fern-audiences":["public"],"summary":"Chat","operationId":"chat","x-fern-streaming":{"stream-condition":"$request.stream","response":{"required":["text"],"properties":{"text":{"type":"string","x-fern-audiences":["public"],"minLength":1,"description":"Contents of the reply generated by the model."},"generation_id":{"type":"string","x-fern-audiences":["public"],"format":"uuid","description":"Unique identifier for the generated reply. Useful for submitting feedback."},"citations":{"type":"array","x-fern-audiences":["public"],"minItems":0,"description":"Inline citations for the generated reply.","items":{"$ref":"#/components/schemas/ChatCitation"}},"documents":{"type":"array","x-fern-audiences":["public"],"minItems":0,"description":"Documents seen by the model when generating the reply.","items":{"$ref":"#/components/schemas/ChatDocument"}},"is_search_required":{"type":"boolean","x-fern-audiences":["public"],"description":"Denotes that a search for documents is required during the RAG flow."},"search_queries":{"type":"array","x-fern-audiences":["public"],"description":"Generated search queries, meant to be used as part of the RAG flow.","items":{"$ref":"#/components/schemas/ChatSearchQuery"}},"search_results":{"type":"array","x-fern-audiences":["public"],"minItems":0,"description":"Documents retrieved from each of the conducted searches.","items":{"$ref":"#/components/schemas/ChatSearchResult"}},"finish_reason":{"x-fern-audiences":["public"],"$ref":"#/components/schemas/FinishReason"},"tool_calls":{"x-fern-audiences":["public"],"type":"array","items":{"$ref":"#/components/schemas/ToolCall"}},"chat_history":{"type":"array","x-fern-audiences":["public"],"minItems":0,"items":{"$ref":"#/components/schemas/ChatMessage"},"description":"A list of previous messages between the user and the model, meant to give the model conversational context for responding to the user's `message`.\n"},"meta":{"$ref":"#/components/schemas/ApiMeta","x-fern-audiences":["public"]}}},"response-stream":{"description":"StreamedChatResponse is returned in streaming mode (specified with `stream=True` in the request).","oneOf":[{"$ref":"#/components/schemas/ChatStreamStartEvent"},{"$ref":"#/components/schemas/ChatSearchQueriesGenerationEvent"},{"$ref":"#/components/schemas/ChatSearchResultsEvent"},{"$ref":"#/components/schemas/ChatTextGenerationEvent"},{"$ref":"#/components/schemas/ChatCitationGenerationEvent"},{"$ref":"#/components/schemas/ChatToolCallsGenerationEvent"},{"$ref":"#/components/schemas/ChatStreamEndEvent"}],"discriminator":{"propertyName":"event_type","mapping":{"stream-start":"#/components/schemas/ChatStreamStartEvent","search-queries-generation":"#/components/schemas/ChatSearchQueriesGenerationEvent","search-results":"#/components/schemas/ChatSearchResultsEvent","text-generation":"#/components/schemas/ChatTextGenerationEvent","citation-generation":"#/components/schemas/ChatCitationGenerationEvent","tool-calls-generation":"#/components/schemas/ChatToolCallsGenerationEvent","stream-end":"#/components/schemas/ChatStreamEndEvent"}}}},"x-readme":{"samples-languages":["python","curl","node","go"],"code-samples":[{"language":"go","name":"Cohere Go SDK","install":"go get github.com/cohere-ai/cohere-go/v2","code":"package main\n\nimport (\n\t\"context\"\n\t\"errors\"\n\t\"io\"\n\t\"log\"\n\n\tcohere \"github.com/cohere-ai/cohere-go/v2\"\n\tclient \"github.com/cohere-ai/cohere-go/v2/client\"\n)\n\nfunc main() {\n\tco := client.NewClient(client.WithToken(\"<<apiKey>>\"))\n\n\tresp, err := co.ChatStream(\n\t\tcontext.TODO(),\n\t\t&cohere.ChatStreamRequest{\n\t\t\tChatHistory: []*cohere.ChatMessage{\n\t\t\t\t{\n\t\t\t\t\tRole:    cohere.ChatMessageRoleUser,\n\t\t\t\t\tMessage: \"Who discovered gravity?\",\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\tRole:    cohere.ChatMessageRoleChatbot,\n\t\t\t\t\tMessage: \"The man who is widely credited with discovering gravity is Sir Isaac Newton\",\n\t\t\t\t}},\n\t\t\tMessage: \"What year was he born?\",\n\t\t\tConnectors: []*cohere.ChatConnector{\n\t\t\t\t{Id: \"web-search\"},\n\t\t\t},\n\t\t},\n\t)\n\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\t// Make sure to close the stream when you're done reading.\n\t// This is easily handled with defer.\n\tdefer resp.Close()\n\n\tfor {\n\t\tmessage, err := resp.Recv()\n\n\t\tif errors.Is(err, io.EOF) {\n\t\t\t// An io.EOF error means the server is done sending messages\n\t\t\t// and should be treated as a success.\n\t\t\tbreak\n\t\t}\n\n\t\tif message.TextGeneration != nil {\n\t\t\tlog.Printf(\"%+v\", resp)\n\t\t}\n\t}\n\n}\n"},{"language":"node","name":"Cohere TypeScript SDK","install":"npm i cohere-ai","code":"const { CohereClient } = require(\"cohere-ai\");\n\nconst cohere = new CohereClient({\n    token: \"<<apiKey>>\",\n});\n\n(async () => {\n  const chatStream = await cohere.chatStream({\n      chatHistory: [\n          { role: \"USER\", message: \"Who discovered gravity?\" },\n          { role: \"CHATBOT\", message: \"The man who is widely credited with discovering gravity is Sir Isaac Newton\" }\n      ],\n      message: \"What year was he born?\",\n      // perform web search before answering the question. You can also use your own custom connector.\n      connectors: [{ id: \"web-search\" }],\n  });\n\n  for await (const message of chatStream) {\n      if (message.eventType === \"text-generation\") {\n          console.log(message);\n      }\n  }\n})();"},{"language":"python","name":"Cohere Python SDK","install":"python -m pip install cohere","code":"import cohere\nco = cohere.Client('<<apiKey>>')\nresponse = co.chat(\n  chat_history=[\n    {\"role\": \"USER\", \"message\": \"Who discovered gravity?\"},\n    {\"role\": \"CHATBOT\", \"message\": \"The man who is widely credited with discovering gravity is Sir Isaac Newton\"}\n  ],\n  message=\"What year was he born?\",\n  # perform web search before answering the question. You can also use your own custom connector.\n  connectors=[{\"id\": \"web-search\"}]\n)\nprint(response)"},{"language":"curl","name":"cURL","code":"curl --request POST \\\n  --url https://api.cohere.ai/v1/chat \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --header \"Authorization: bearer $CO_API_KEY\" \\\n  --data '{\n    \"chat_history\": [\n      {\"role\": \"USER\", \"message\": \"Who discovered gravity?\"},\n      {\"role\": \"CHATBOT\", \"message\": \"The man who is widely credited with discovering gravity is Sir Isaac Newton\"}\n    ],\n    \"message\": \"What year was he born?\",\n    \"connectors\": [{\"id\": \"web-search\"}]\n  }'"}]},"description":"Generates a text response to a user message.\nTo learn how to use Chat with Streaming and RAG follow [this guide](https://docs.cohere.com/docs/cochat-beta#various-ways-of-using-the-chat-endpoint).\n","requestBody":{"content":{"application/json":{"schema":{"type":"object","x-fern-audiences":["public"],"x-examples":{"Chat":{"value":{"message":"Can you give me a global market overview of solar panels?","temperature":0.3,"stream":false,"chat_history":[{"role":"User","message":"Hi!"},{"role":"Chatbot","message":"How can I help you today?"}],"prompt_truncation":"OFF"}},"Chat with web search":{"value":{"message":"Can you give me a global market overview of solar panels?","temperature":0.3,"stream":false,"chat_history":[],"connectors":[{"id":"web-search"}],"prompt_truncation":"AUTO"}},"Chat with connector":{"value":{"message":"How do I expense a meal?","stream":false,"connectors":[{"id":"custom-connector-id"}],"prompt_truncation":"AUTO"}}},"required":["message"],"properties":{"message":{"type":"string","x-fern-audiences":["public"],"description":"Text input for the model to respond to.\n"},"model":{"type":"string","x-fern-audiences":["public"],"description":"Defaults to `command-r`.\n\nThe name of a compatible [Cohere model](https://docs.cohere.com/docs/models) or the ID of a [fine-tuned](https://docs.cohere.com/docs/chat-fine-tuning) model.\n"},"stream":{"description":"Defaults to `false`.\n\nWhen `true`, the response will be a JSON stream of events. The final event will contain the complete response, and will have an `event_type` of `\"stream-end\"`.\n\nStreaming is beneficial for user interfaces that render the contents of the response piece by piece, as it gets generated.\n","type":"boolean","x-fern-audiences":["public"]},"preamble":{"description":"When specified, the default Cohere preamble will be replaced with the provided one. Preambles are a part of the prompt used to adjust the model's overall behavior and conversation style, and use the `SYSTEM` role.\n\nThe `SYSTEM` role is also used for the contents of the optional `chat_history=` parameter. When used with the `chat_history=` parameter it adds content throughout a conversation. Conversely, when used with the `preamble=` parameter it adds content at the start of the conversation only.\n","type":"string","x-fern-audiences":["public"]},"chat_history":{"type":"array","x-fern-audiences":["public"],"minItems":0,"items":{"$ref":"#/components/schemas/ChatMessage"},"description":"A list of previous messages between the user and the model, giving the model conversational context for responding to the user's `message`.\n\nEach item represents a single message in the chat history, excluding the current user turn. It has two properties: `role` and `message`. The `role` identifies the sender (`CHATBOT`, `SYSTEM`, or `USER`), while the `message` contains the text content.\n\nThe chat_history parameter should not be used for `SYSTEM` messages in most cases. Instead, to add a `SYSTEM` role message at the beginning of a conversation, the `preamble` parameter should be used.\n"},"conversation_id":{"type":"string","x-fern-audiences":["public"],"description":"An alternative to `chat_history`.\n\nProviding a `conversation_id` creates or resumes a persisted conversation with the specified ID. The ID can be any non empty string.\n"},"prompt_truncation":{"type":"string","x-fern-audiences":["public"],"enum":["OFF","AUTO","AUTO_PRESERVE_ORDER"],"description":"Defaults to `AUTO` when `connectors` are specified and `OFF` in all other cases.\n\nDictates how the prompt will be constructed.\n\nWith `prompt_truncation` set to \"AUTO\", some elements from `chat_history` and `documents` will be dropped in an attempt to construct a prompt that fits within the model's context length limit. During this process the order of the documents and chat history will be changed and ranked by relevance.\n\nWith `prompt_truncation` set to \"AUTO_PRESERVE_ORDER\", some elements from `chat_history` and `documents` will be dropped in an attempt to construct a prompt that fits within the model's context length limit. During this process the order of the documents and chat history will be preserved as they are inputted into the API.\n\nWith `prompt_truncation` set to \"OFF\", no elements will be dropped. If the sum of the inputs exceeds the model's context length limit, a `TooManyTokens` error will be returned.\n"},"connectors":{"type":"array","x-fern-audiences":["public"],"minItems":0,"items":{"$ref":"#/components/schemas/ChatConnector"},"description":"Accepts `{\"id\": \"web-search\"}`, and/or the `\"id\"` for a custom [connector](https://docs.cohere.com/docs/connectors), if you've [created](https://docs.cohere.com/docs/creating-and-deploying-a-connector) one.\n\nWhen specified, the model's reply will be enriched with information found by quering each of the connectors (RAG).\n"},"search_queries_only":{"type":"boolean","x-fern-audiences":["public"],"description":"Defaults to `false`.\n\nWhen `true`, the response will only contain a list of generated search queries, but no search will take place, and no reply from the model to the user's `message` will be generated.\n"},"documents":{"description":"A list of relevant documents that the model can cite to generate a more accurate reply. Each document is a string-string dictionary.\n\nExample:\n`[\n  { \"title\": \"Tall penguins\", \"text\": \"Emperor penguins are the tallest.\" },\n  { \"title\": \"Penguin habitats\", \"text\": \"Emperor penguins only live in Antarctica.\" },\n]`\n\nKeys and values from each document will be serialized to a string and passed to the model. The resulting generation will include citations that reference some of these documents.\n\nSome suggested keys are \"text\", \"author\", and \"date\". For better generation quality, it is recommended to keep the total word count of the strings in the dictionary to under 300 words.\n\nAn `id` field (string) can be optionally supplied to identify the document in the citations. This field will not be passed to the model.\n\nAn `_excludes` field (array of strings) can be optionally supplied to omit some key-value pairs from being shown to the model. The omitted fields will still show up in the citation object. The \"_excludes\" field will not be passed to the model.\n\nSee ['Document Mode'](https://docs.cohere.com/docs/retrieval-augmented-generation-rag#document-mode) in the guide for more information.\n","type":"array","x-fern-audiences":["public"],"items":{"$ref":"#/components/schemas/ChatDocument"}},"temperature":{"type":"number","x-fern-audiences":["public"],"format":"float","minimum":0,"maximum":1,"description":"Defaults to `0.3`.\n\nA non-negative float that tunes the degree of randomness in generation. Lower temperatures mean less random generations, and higher temperatures mean more random generations.\n\nRandomness can be further maximized by increasing the  value of the `p` parameter.\n"},"max_tokens":{"type":"integer","x-fern-audiences":["public"],"description":"The maximum number of tokens the model will generate as part of the response. Note: Setting a low value may result in incomplete generations.\n","writeOnly":true},"max_input_tokens":{"type":"integer","x-fern-audiences":["public"],"description":"The maximum number of input tokens to send to the model. If not specified, `max_input_tokens` is the model's context length limit minus a small buffer.\n\nInput will be truncated according to the `prompt_truncation` parameter.\n","writeOnly":true},"k":{"type":"integer","x-fern-audiences":["public"],"description":"Ensures only the top `k` most likely tokens are considered for generation at each step.\nDefaults to `0`, min value of `0`, max value of `500`.\n","writeOnly":true,"default":0,"minimum":0,"maximum":500},"p":{"type":"number","x-fern-audiences":["public"],"description":"Ensures that only the most likely tokens, with total probability mass of `p`, are considered for generation at each step. If both `k` and `p` are enabled, `p` acts after `k`.\nDefaults to `0.75`. min value of `0.01`, max value of `0.99`.\n","writeOnly":true,"default":0.75,"minimum":0.01,"maximum":0.99},"seed":{"x-fern-audiences":["public"],"type":"number","description":"If specified, the backend will make a best effort to sample tokens deterministically, such that repeated requests with the same seed and parameters should return the same result. However, determinism cannot be totally guaranteed."},"stop_sequences":{"x-fern-audiences":["public"],"writeOnly":true,"type":"array","items":{"type":"string"},"description":"A list of up to 5 strings that the model will use to stop generation. If the model generates a string that matches any of the strings in the list, it will stop generating tokens and return the generated text up to that point not including the stop sequence.\n"},"frequency_penalty":{"type":"number","x-fern-audiences":["public"],"description":"Defaults to `0.0`, min value of `0.0`, max value of `1.0`.\n\nUsed to reduce repetitiveness of generated tokens. The higher the value, the stronger a penalty is applied to previously present tokens, proportional to how many times they have already appeared in the prompt or prior generation.\n","writeOnly":true},"presence_penalty":{"type":"number","x-fern-audiences":["public"],"description":"Defaults to `0.0`, min value of `0.0`, max value of `1.0`.\n\nUsed to reduce repetitiveness of generated tokens. Similar to `frequency_penalty`, except that this penalty is applied equally to all tokens that have already appeared, regardless of their exact frequencies.\n","writeOnly":true},"tools":{"x-fern-audiences":["public"],"description":"A list of available tools (functions) that the model may suggest invoking before producing a text response.\n\nWhen `tools` is passed (without `tool_results`), the `text` field in the response will be `\"\"` and the `tool_calls` field in the response will be populated with a list of tool calls that need to be made. If no calls need to be made, the `tool_calls` array will be empty.\n","type":"array","items":{"$ref":"#/components/schemas/Tool"},"minItems":0},"tool_results":{"x-fern-audiences":["public"],"description":"A list of results from invoking tools recommended by the model in the previous chat turn. Results are used to produce a text response and will be referenced in citations. When using `tool_results`, `tools` must be passed as well.\nEach tool_result contains information about how it was invoked, as well as a list of outputs in the form of dictionaries.\n\n**Note**: `outputs` must be a list of objects. If your tool returns a single object (eg `{\"status\": 200}`), make sure to wrap it in a list.\n```\ntool_results = [\n  {\n    \"call\": {\n      \"name\": <tool name>,\n      \"parameters\": {\n        <param name>: <param value>\n      }\n    },\n    \"outputs\": [{\n      <key>: <value>\n    }]\n  },\n  ...\n]\n```\n**Note**: Chat calls with `tool_results` should not be included in the Chat history to avoid duplication of the message text.\n","type":"array","minItems":0,"items":{"type":"object","required":["call","outputs"],"properties":{"call":{"$ref":"#/components/schemas/ToolCall"},"outputs":{"type":"array","minItems":0,"items":{"type":"object","additionalProperties":true}}}}}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/NonStreamedChatResponse"},{"$ref":"#/components/schemas/StreamedChatResponse"}]}}}},"429":{"$ref":"#/components/responses/RateLimit"}}}},"/generate":{"post":{"x-fern-audiences":["public"],"summary":"Generate","operationId":"generate","x-fern-streaming":{"stream-condition":"$request.stream","response":{"type":"object","required":["id","generations"],"properties":{"id":{"type":"string","x-fern-audiences":["public"]},"prompt":{"type":"string","x-fern-audiences":["public"],"description":"Prompt used for generations."},"generations":{"type":"array","x-fern-audiences":["public"],"description":"List of generated results","items":{"type":"object","x-fern-audiences":["public"],"$ref":"#/components/schemas/SingleGeneration"}},"meta":{"$ref":"#/components/schemas/ApiMeta","x-fern-audiences":["public"]}}},"response-stream":{"description":"Response in content type stream when `stream` is `true` in the request parameters. Generation tokens are streamed with the GenerationStream response. The final response is of type GenerationFinalResponse.","oneOf":[{"$ref":"#/components/schemas/GenerateStreamText"},{"$ref":"#/components/schemas/GenerateStreamEnd"},{"$ref":"#/components/schemas/GenerateStreamError"}],"discriminator":{"propertyName":"event_type","mapping":{"text-generation":"#/components/schemas/GenerateStreamText","stream-end":"#/components/schemas/GenerateStreamEnd","stream-error":"#/components/schemas/GenerateStreamError"}}}},"parameters":[{"$ref":"#/components/parameters/RequestSource"}],"x-readme":{"samples-languages":["python","curl","node","go"],"code-samples":[{"language":"go","name":"Cohere Go SDK","install":"go get github.com/cohere-ai/cohere-go/v2","code":"package main\n\nimport (\n\t\"context\"\n\t\"errors\"\n\t\"io\"\n\t\"log\"\n\n\tcohere \"github.com/cohere-ai/cohere-go/v2\"\n\tclient \"github.com/cohere-ai/cohere-go/v2/client\"\n)\n\nfunc main() {\n\tco := client.NewClient(client.WithToken(\"<<apiKey>>\"))\n\n\tresp, err := co.GenerateStream(\n\t\tcontext.TODO(),\n\t\t&cohere.GenerateStreamRequest{\n\t\t\tPrompt: \"Please explain to me how LLMs work\",\n\t\t},\n\t)\n\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\t// Make sure to close the stream when you're done reading.\n\t// This is easily handled with defer.\n\tdefer resp.Close()\n\n\tfor {\n\t\tmessage, err := resp.Recv()\n\n\t\tif errors.Is(err, io.EOF) {\n\t\t\t// An io.EOF error means the server is done sending messages\n\t\t\t// and should be treated as a success.\n\t\t\tbreak\n\t\t}\n\n\t\tif message.TextGeneration != nil {\n\t\t\tlog.Printf(\"%+v\", resp)\n\t\t}\n\t}\n}\n"},{"language":"node","name":"Cohere TypeScript SDK","install":"npm i cohere-ai","code":"const { CohereClient } = require(\"cohere-ai\");\n\nconst cohere = new CohereClient({\n    token: \"<<apiKey>>\",\n});\n\n(async () => {\n  const generate = await cohere.generate({\n      prompt: \"Please explain to me how LLMs work\",\n  });\n\n  console.log(generate);\n})();"},{"language":"python","name":"Cohere Python SDK","install":"python -m pip install cohere","code":"import cohere\nco = cohere.Client('<<apiKey>>')\n\nresponse = co.generate(\n  prompt='Please explain to me how LLMs work',\n)\nprint(response)"},{"language":"curl","name":"cURL","code":"curl --request POST \\\n  --url https://api.cohere.ai/v1/generate \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --header \"Authorization: bearer $CO_API_KEY\" \\\n  --data '{\n    \"prompt\": \"Please explain to me how LLMs work\"\n  }'"}]},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Generation"}},"application/stream+json":{"schema":{"$ref":"#/components/schemas/GenerateStreamedResponse"}}},"headers":{"X-API-Warning":{"schema":{"type":"string","x-fern-audiences":["public"]},"description":"Warning description for incorrect usage of the API"}}},"400":{"description":"Bad Request"},"429":{"$ref":"#/components/responses/RateLimit"},"498":{"description":"Blocked Input or Output"},"500":{"description":"Internal Server Error"}},"description":"> 🚧 Warning\n> \n> This API is marked as \"Legacy\" and is no longer maintained. Follow the [migration guide](/docs/migrating-from-cogenerate-to-cochat) to start using the Chat API.\n\nGenerates realistic text conditioned on a given input.\n","requestBody":{"content":{"application/json":{"schema":{"type":"object","x-fern-audiences":["public"],"x-examples":{"Example":{"prompt":"Please explain to me how LLMs work","max_tokens":50,"temperature":1,"k":0,"p":0.75}},"properties":{"prompt":{"type":"string","x-fern-audiences":["public"],"example":"Please explain to me how LLMs work","description":"The input text that serves as the starting point for generating the response.\nNote: The prompt will be pre-processed and modified before reaching the model.\n","writeOnly":true},"model":{"type":"string","x-fern-audiences":["public"],"description":"The identifier of the model to generate with. Currently available models are `command` (default), `command-nightly` (experimental), `command-light`, and `command-light-nightly` (experimental).\nSmaller, \"light\" models are faster, while larger models will perform better. [Custom models](/docs/training-custom-models) can also be supplied with their full ID.","writeOnly":true},"num_generations":{"type":"integer","x-fern-audiences":["public"],"description":"The maximum number of generations that will be returned. Defaults to `1`, min value of `1`, max value of `5`.\n","writeOnly":true},"stream":{"type":"boolean","x-fern-audiences":["public"],"description":"When `true`, the response will be a JSON stream of events. Streaming is beneficial for user interfaces that render the contents of the response piece by piece, as it gets generated.\n\nThe final event will contain the complete response, and will contain an `is_finished` field set to `true`. The event will also contain a `finish_reason`, which can be one of the following:\n- `COMPLETE` - the model sent back a finished reply\n- `MAX_TOKENS` - the reply was cut off because the model reached the maximum number of tokens for its context length\n- `ERROR` - something went wrong when generating the reply\n- `ERROR_TOXIC` - the model generated a reply that was deemed toxic\n"},"max_tokens":{"type":"integer","x-fern-audiences":["public"],"description":"The maximum number of tokens the model will generate as part of the response. Note: Setting a low value may result in incomplete generations.\n\nThis parameter is off by default, and if it's not specified, the model will continue generating until it emits an EOS completion token. See [BPE Tokens](/bpe-tokens-wiki) for more details.\n\nCan only be set to `0` if `return_likelihoods` is set to `ALL` to get the likelihood of the prompt.\n","writeOnly":true},"truncate":{"type":"string","x-fern-audiences":["public"],"default":"END","enum":["NONE","START","END"],"description":"One of `NONE|START|END` to specify how the API will handle inputs longer than the maximum token length.\n\nPassing `START` will discard the start of the input. `END` will discard the end of the input. In both cases, input is discarded until the remaining input is exactly the maximum input token length for the model.\n\nIf `NONE` is selected, when the input exceeds the maximum input token length an error will be returned.","writeOnly":true},"temperature":{"type":"number","x-fern-audiences":["public"],"description":"A non-negative float that tunes the degree of randomness in generation. Lower temperatures mean less random generations. See [Temperature](/temperature-wiki) for more details.\nDefaults to `0.75`, min value of `0.0`, max value of `5.0`.\n","writeOnly":true},"seed":{"x-fern-audiences":["public"],"type":"number","description":"If specified, the backend will make a best effort to sample tokens deterministically, such that repeated requests with the same seed and parameters should return the same result. However, determinsim cannot be totally guaranteed."},"preset":{"type":"string","x-fern-audiences":["public"],"example":"my-preset-a58sbd","description":"Identifier of a custom preset. A preset is a combination of parameters, such as prompt, temperature etc. You can create presets in the [playground](https://dashboard.cohere.ai/playground/generate).\nWhen a preset is specified, the `prompt` parameter becomes optional, and any included parameters will override the preset's parameters.\n","writeOnly":true},"end_sequences":{"type":"array","x-fern-audiences":["public"],"description":"The generated text will be cut at the beginning of the earliest occurrence of an end sequence. The sequence will be excluded from the text.","items":{"type":"string","x-fern-audiences":["public"]},"writeOnly":true},"stop_sequences":{"type":"array","x-fern-audiences":["public"],"description":"The generated text will be cut at the end of the earliest occurrence of a stop sequence. The sequence will be included the text.","items":{"type":"string","x-fern-audiences":["public"]},"writeOnly":true},"k":{"type":"integer","x-fern-audiences":["public"],"description":"Ensures only the top `k` most likely tokens are considered for generation at each step.\nDefaults to `0`, min value of `0`, max value of `500`.\n","writeOnly":true},"p":{"type":"number","x-fern-audiences":["public"],"description":"Ensures that only the most likely tokens, with total probability mass of `p`, are considered for generation at each step. If both `k` and `p` are enabled, `p` acts after `k`.\nDefaults to `0.75`. min value of `0.01`, max value of `0.99`.\n","writeOnly":true},"frequency_penalty":{"type":"number","x-fern-audiences":["public"],"description":"Used to reduce repetitiveness of generated tokens. The higher the value, the stronger a penalty is applied to previously present tokens, proportional to how many times they have already appeared in the prompt or prior generation.\n\nUsing `frequency_penalty` in combination with `presence_penalty` is not supported on newer models.\n","writeOnly":true},"presence_penalty":{"type":"number","x-fern-audiences":["public"],"description":"Defaults to `0.0`, min value of `0.0`, max value of `1.0`.\n\nCan be used to reduce repetitiveness of generated tokens. Similar to `frequency_penalty`, except that this penalty is applied equally to all tokens that have already appeared, regardless of their exact frequencies.\n\nUsing `frequency_penalty` in combination with `presence_penalty` is not supported on newer models.\n","writeOnly":true},"return_likelihoods":{"type":"string","x-fern-audiences":["public"],"description":"One of `GENERATION|ALL|NONE` to specify how and if the token likelihoods are returned with the response. Defaults to `NONE`.\n\nIf `GENERATION` is selected, the token likelihoods will only be provided for generated text.\n\nIf `ALL` is selected, the token likelihoods will be provided both for the prompt and the generated text.","enum":["GENERATION","ALL","NONE"],"default":"NONE"},"raw_prompting":{"type":"boolean","x-fern-audiences":["public"],"description":"When enabled, the user's prompt will be sent to the model without any pre-processing."}},"required":["prompt"],"writeOnly":true},"examples":{"Example":{"value":{"prompt":"Please explain to me how LLMs work"}}}}},"description":""}}},"/embed":{"post":{"x-fern-audiences":["public"],"summary":"Embed","operationId":"embed","parameters":[{"$ref":"#/components/parameters/RequestSource"}],"x-readme":{"samples-languages":["python","curl","node","go"],"code-samples":[{"language":"go","name":"Cohere Go SDK","install":"go get github.com/cohere-ai/cohere-go/v2","code":"package main\n\nimport (\n\t\"context\"\n\t\"log\"\n\n\tcohere \"github.com/cohere-ai/cohere-go/v2\"\n\tclient \"github.com/cohere-ai/cohere-go/v2/client\"\n)\n\nfunc strPointer(s string) *string {\n\treturn &s\n}\n\nfunc main() {\n\tco := client.NewClient(client.WithToken(\"<<apiKey>>\"))\n\n\tresp, err := co.Embed(\n\t\tcontext.TODO(),\n\t\t&cohere.EmbedRequest{\n\t\t\tTexts:     []string{\"hello\", \"goodbye\"},\n\t\t\tModel:     strPointer(\"embed-english-v3.0\"),\n\t\t\tInputType: cohere.EmbedInputTypeSearchDocument.Ptr(),\n\t\t},\n\t)\n\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\tlog.Printf(\"%+v\", resp)\n}\n"},{"language":"node","name":"Cohere TypeScript SDK","install":"npm i cohere-ai","code":"const { CohereClient } = require(\"cohere-ai\");\n\nconst cohere = new CohereClient({\n    token: \"<<apiKey>>\",\n});\n\n(async () => {\n  const embed = await cohere.embed({\n      texts: [\"hello\", \"goodbye\"],\n      model: \"embed-english-v3.0\",\n      inputType: \"classification\",\n  });\n  console.log(embed);\n})();"},{"language":"python","name":"Cohere Python SDK","install":"python -m pip install cohere","code":"import cohere\nco = cohere.Client('<<apiKey>>')\n\nresponse = co.embed(\n  texts=['hello', 'goodbye'],\n  model='embed-english-v3.0',\n  input_type='classification'\n)\nprint(response)"},{"language":"curl","name":"cURL","code":"curl --request POST \\\n  --url https://api.cohere.ai/v1/embed \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --header \"Authorization: bearer $CO_API_KEY\" \\\n  --data '{\n    \"model\": \"embed-english-v3.0\",\n    \"texts\": [\"hello\", \"goodbye\"],\n    \"input_type\": \"classification\"\n  }'"}]},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/EmbedFloatsResponse"},{"$ref":"#/components/schemas/EmbedByTypeResponse"}],"discriminator":{"propertyName":"response_type","mapping":{"embeddings_floats":"#/components/schemas/EmbedFloatsResponse","embeddings_by_type":"#/components/schemas/EmbedByTypeResponse"}}}}},"headers":{"X-API-Warning":{"schema":{"type":"string","x-fern-audiences":["public"]},"description":"Warning description for incorrect usage of the API"}}},"400":{"description":"Bad Request"},"429":{"$ref":"#/components/responses/RateLimit"},"500":{"description":"Internal Server Error"}},"description":"This endpoint returns text embeddings. An embedding is a list of floating point numbers that captures semantic information about the text that it represents.\n\nEmbeddings can be used to create text classifiers as well as empower semantic search. To learn more about embeddings, see the embedding page.\n\nIf you want to learn more how to use the embedding model, have a look at the [Semantic Search Guide](/docs/semantic-search).","requestBody":{"content":{"application/json":{"schema":{"type":"object","x-fern-audiences":["public"],"properties":{"texts":{"type":"array","x-fern-audiences":["public"],"minItems":1,"maxItems":96,"description":"An array of strings for the model to embed. Maximum number of texts per call is `96`. We recommend reducing the length of each text to be under `512` tokens for optimal quality.","items":{"type":"string","x-fern-audiences":["public"],"writeOnly":true},"writeOnly":true},"model":{"type":"string","x-fern-audiences":["public"],"description":"Defaults to embed-english-v2.0\n\nThe identifier of the model. Smaller \"light\" models are faster, while larger models will perform better. [Custom models](/docs/training-custom-models) can also be supplied with their full ID.\n\nAvailable models and corresponding embedding dimensions:\n\n* `embed-english-v3.0`  1024\n* `embed-multilingual-v3.0`  1024\n* `embed-english-light-v3.0`  384\n* `embed-multilingual-light-v3.0`  384\n\n* `embed-english-v2.0`  4096\n* `embed-english-light-v2.0`  1024\n* `embed-multilingual-v2.0`  768","writeOnly":true},"input_type":{"x-fern-audiences":["public"],"$ref":"#/components/schemas/EmbedInputType"},"embedding_types":{"type":"array","x-fern-audiences":["public"],"items":{"$ref":"#/components/schemas/EmbeddingType"},"description":"Specifies the types of embeddings you want to get back. Not required and default is None, which returns the Embed Floats response type. Can be one or more of the following types.\n\n* `\"float\"`: Use this when you want to get back the default float embeddings. Valid for all models.\n* `\"int8\"`: Use this when you want to get back signed int8 embeddings. Valid for only v3 models.\n* `\"uint8\"`: Use this when you want to get back unsigned int8 embeddings. Valid for only v3 models.\n* `\"binary\"`: Use this when you want to get back signed binary embeddings. Valid for only v3 models.\n* `\"ubinary\"`: Use this when you want to get back unsigned binary embeddings. Valid for only v3 models.","writeOnly":true},"truncate":{"type":"string","x-fern-audiences":["public"],"default":"END","enum":["NONE","START","END"],"description":"One of `NONE|START|END` to specify how the API will handle inputs longer than the maximum token length.\n\nPassing `START` will discard the start of the input. `END` will discard the end of the input. In both cases, input is discarded until the remaining input is exactly the maximum input token length for the model.\n\nIf `NONE` is selected, when the input exceeds the maximum input token length an error will be returned.","writeOnly":true}},"required":["texts"]},"examples":{"Example":{"value":{"texts":["hello","goodbye"]}}}}},"description":""}}},"/embed-jobs":{"post":{"x-fern-audiences":["public"],"parameters":[{"$ref":"#/components/parameters/RequestSource"}],"summary":"Create an Embed Job","operationId":"create-embed-job","tags":["/embed-jobs"],"x-fern-sdk-group-name":"embed-jobs","x-fern-sdk-method-name":"create","x-readme":{"samples-languages":["python","curl","go"],"code-samples":[{"language":"go","name":"Cohere Go SDK","install":"go get github.com/cohere-ai/cohere-go/v2","code":"package main\n\nimport (\n\t\"context\"\n\t\"log\"\n\n\tcohere \"github.com/cohere-ai/cohere-go/v2\"\n\tclient \"github.com/cohere-ai/cohere-go/v2/client\"\n)\n\nfunc main() {\n\tco := client.NewClient(client.WithToken(\"<<apiKey>>\"))\n\n\tresp, err := co.EmbedJobs.Create(\n\t\tcontext.TODO(),\n\t\t&cohere.CreateEmbedJobRequest{\n\t\t\tDatasetId: \"dataset_id\",\n\t\t\tInputType: cohere.EmbedInputTypeSearchDocument,\n\t\t},\n\t)\n\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\tlog.Printf(\"%+v\", resp)\n}\n"},{"language":"python","name":"Cohere Python SDK","install":"python -m pip install cohere","code":"import cohere\nco = cohere.Client('<<apiKey>>')\n\n# start an embed job\njob = co.embed_jobs.create(\n  dataset_id=ds.id,\n  input_type='search_document',\n  model='embed-english-v3.0'\n)\n\n# poll the server until the job is complete\nembed_job = co.wait(job)\n\nprint(embed_job)"},{"language":"node","name":"Cohere TypeScript SDK","install":"npm i cohere-ai","code":"const { CohereClient } = require(\"cohere-ai\");\n\nconst cohere = new CohereClient({\n    token: \"<<apiKey>>\",\n});\n\n(async () => {\n  const embedJob = await cohere.embedJobs.create({\n      datasetId: \"my-dataset\",\n      inputType: \"search_document\",\n      model: \"embed-english-v3.0\",\n  });\n\n  console.log(embedJob);\n})();"},{"language":"curl","name":"cURL","code":"curl --request POST \\\n  --url https://api.cohere.ai/v1/embed-jobs \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --header \"Authorization: bearer $CO_API_KEY\" \\\n  --data '{\n    \"model\": \"embed-english-v3.0\",\n    \"dataset_id\": \"my-dataset\"\n  }'"}]},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateEmbedJobResponse"}}},"headers":{"X-API-Warning":{"schema":{"type":"string","x-fern-audiences":["public"]},"description":"Warning description for incorrect usage of the API"}}},"400":{"description":"Bad Request"},"429":{"$ref":"#/components/responses/RateLimit"},"500":{"description":"Internal Server Error"}},"description":"This API launches an async Embed job for a [Dataset](https://docs.cohere.com/docs/datasets) of type `embed-input`. The result of a completed embed job is new Dataset of type `embed-output`, which contains the original text entries and the corresponding embeddings.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateEmbedJobRequest"}}}}},"get":{"x-fern-audiences":["public"],"parameters":[{"$ref":"#/components/parameters/RequestSource"}],"summary":"List Embed Jobs","operationId":"list-embed-jobs","tags":["/embed-jobs"],"x-fern-sdk-group-name":"embed-jobs","x-fern-sdk-method-name":"list","x-readme":{"samples-languages":["python","curl","go"],"code-samples":[{"language":"go","name":"Cohere Go SDK","install":"go get github.com/cohere-ai/cohere-go/v2","code":"package main\n\nimport (\n\t\"context\"\n\t\"log\"\n\n\tclient \"github.com/cohere-ai/cohere-go/v2/client\"\n)\n\nfunc main() {\n\tco := client.NewClient(client.WithToken(\"<<apiKey>>\"))\n\n\tresp, err := co.EmbedJobs.Get(context.TODO(), \"embed_job_id\")\n\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\tlog.Printf(\"%+v\", resp)\n}\n"},{"language":"python","name":"Cohere Python SDK","install":"python -m pip install cohere","code":"import cohere\nco = cohere.Client('<<apiKey>>')\n\n# list embed jobs\nmy_embed_jobs = co.embed_jobs.list()\n\nprint(my_embed_jobs)"},{"language":"node","name":"Cohere TypeScript SDK","install":"npm i cohere-ai","code":"const { CohereClient } = require(\"cohere-ai\");\n\nconst cohere = new CohereClient({\n    token: \"<<apiKey>>\",\n});\n\n(async () => {\n  const embedJobs = await cohere.embedJobs.list();\n\n  console.log(embedJobs);\n})();"},{"language":"curl","name":"cURL","code":"curl --request GET \\\n  --url https://api.cohere.ai/v1/embed-jobs \\\n  --header 'accept: application/json' \\\n  --header \"Authorization: bearer $CO_API_KEY\""}]},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListEmbedJobResponse"}}},"headers":{"X-API-Warning":{"schema":{"type":"string","x-fern-audiences":["public"]},"description":"Warning description for incorrect usage of the API"}}},"400":{"description":"Bad Request"},"429":{"$ref":"#/components/responses/RateLimit"},"500":{"description":"Internal Server Error"}},"description":"The list embed job endpoint allows users to view all embed jobs history for that specific user."}},"/embed-jobs/{id}":{"get":{"x-fern-audiences":["public"],"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the embed job to retrieve.","schema":{"type":"string","x-fern-audiences":["public"]}},{"$ref":"#/components/parameters/RequestSource"}],"summary":"Fetch an Embed Job","operationId":"get-embed-job","tags":["/embed-jobs"],"x-fern-sdk-group-name":"embed-jobs","x-fern-sdk-method-name":"get","x-readme":{"samples-languages":["python","curl","go"],"code-samples":[{"language":"go","name":"Cohere Go SDK","install":"go get github.com/cohere-ai/cohere-go/v2","code":"package main\n\nimport (\n\t\"context\"\n\t\"log\"\n\n\tclient \"github.com/cohere-ai/cohere-go/v2/client\"\n)\n\nfunc main() {\n\tco := client.NewClient(client.WithToken(\"<<apiKey>>\"))\n\n\tresp, err := co.EmbedJobs.List(context.TODO())\n\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\tlog.Printf(\"%+v\", resp)\n}\n"},{"language":"python","name":"Cohere Python SDK","install":"python -m pip install cohere","code":"import cohere\nco = cohere.Client('<<apiKey>>')\n\n# get embed job\nmy_embed_job = co.embed_jobs.get('job_id')\n\nprint(my_embed_job)"},{"language":"node","name":"Cohere TypeScript SDK","install":"npm i cohere-ai","code":"const { CohereClient } = require(\"cohere-ai\");\n\nconst cohere = new CohereClient({\n    token: \"<<apiKey>>\",\n});\n\n(async () => {\n  const embedJob = await cohere.embedJobs.get(\"job_id\");\n\n  console.log(embedJob);\n})();"},{"language":"curl","name":"cURL","code":"curl --request GET \\\n  --url https://api.cohere.ai/v1/embed-jobs/id \\\n  --header 'accept: application/json' \\\n  --header \"Authorization: bearer $CO_API_KEY\""}]},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmbedJob"}}},"headers":{"X-API-Warning":{"schema":{"type":"string","x-fern-audiences":["public"]},"description":"Warning message for potentially incorrect usage of the API"}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"},"429":{"$ref":"#/components/responses/RateLimit"},"500":{"description":"Internal Server Error"}},"description":"This API retrieves the details about an embed job started by the same user."}},"/embed-jobs/{id}/cancel":{"post":{"x-fern-audiences":["public"],"parameters":[{"name":"id","in":"path","required":true,"description":"The ID of the embed job to cancel.","schema":{"type":"string","x-fern-audiences":["public"]}},{"$ref":"#/components/parameters/RequestSource"}],"summary":"Cancel an Embed Job","operationId":"cancel-embed-job","tags":["/embed-jobs"],"x-fern-sdk-group-name":"embed-jobs","x-fern-sdk-method-name":"cancel","x-readme":{"samples-languages":["python","curl","go"],"code-samples":[{"language":"go","name":"Cohere Go SDK","install":"go get github.com/cohere-ai/cohere-go/v2","code":"package main\n\nimport (\n\t\"context\"\n\t\"log\"\n\n\tclient \"github.com/cohere-ai/cohere-go/v2/client\"\n)\n\nfunc main() {\n\tco := client.NewClient(client.WithToken(\"<<apiKey>>\"))\n\n\terr := co.EmbedJobs.Cancel(context.TODO(), \"embed_job_id\")\n\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n}\n"},{"language":"python","name":"Cohere Python SDK","install":"python -m pip install cohere","code":"import cohere\nco = cohere.Client('<<apiKey>>')\n\n# cancel an embed job\nco.embed_jobs.cancel('job_id')"},{"language":"node","name":"Cohere TypeScript SDK","install":"npm i cohere-ai","code":"const { CohereClient } = require(\"cohere-ai\");\n\nconst cohere = new CohereClient({\n    token: \"<<apiKey>>\",\n});\n\n(async () => {\n  const embedJob = await cohere.embedJobs.cancel(\"job_id\");\n\n  console.log(embedJob);\n})();"},{"language":"curl","name":"cURL","code":"curl --request POST \\\n  --url https://api.cohere.ai/v1/embed-jobs/id/cancel \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --header \"Authorization: bearer $CO_API_KEY\""}]},"responses":{"200":{"description":"OK","headers":{"X-API-Warning":{"schema":{"type":"string","x-fern-audiences":["public"]},"description":"Warning description for incorrect usage of the API"}}},"400":{"description":"Bad Request"},"404":{"description":"Not Found"},"429":{"$ref":"#/components/responses/RateLimit"},"500":{"description":"Internal Server Error"}},"description":"This API allows users to cancel an active embed job. Once invoked, the embedding process will be terminated, and users will be charged for the embeddings processed up to the cancellation point. It's important to note that partial results will not be available to users after cancellation."}},"/rerank":{"post":{"x-fern-audiences":["public"],"summary":"Rerank","operationId":"rerank","parameters":[{"$ref":"#/components/parameters/RequestSource"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","x-fern-audiences":["public"],"properties":{"id":{"type":"string","x-fern-audiences":["public"]},"results":{"type":"array","x-fern-audiences":["public"],"description":"An ordered list of ranked documents","items":{"type":"object","x-fern-audiences":["public"],"properties":{"document":{"type":"object","x-fern-audiences":["public"],"description":"The doc object which was ranked","properties":{"text":{"type":"string","x-fern-audiences":["public"],"description":"The text of the document to rerank"}},"required":["text"]},"index":{"type":"integer","x-fern-audiences":["public"],"description":"The index of the input document"},"relevance_score":{"type":"number","x-fern-audiences":["public"],"format":"float","description":"A relevance score assigned to the ranking","readOnly":true}},"required":["index","relevance_score"]}},"meta":{"$ref":"#/components/schemas/ApiMeta","x-fern-audiences":["public"]}},"required":["results"]}}}},"429":{"$ref":"#/components/responses/RateLimit"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","x-fern-audiences":["public"],"properties":{"model":{"type":"string","x-fern-audiences":["public"],"description":"The identifier of the model to use, one of : `rerank-english-v3.0`, `rerank-multilingual-v3.0`, `rerank-english-v2.0`, `rerank-multilingual-v2.0`"},"query":{"type":"string","x-fern-audiences":["public"],"description":"The search query"},"documents":{"type":"array","x-fern-audiences":["public"],"description":"A list of document objects or strings to rerank.\nIf a document is provided the text fields is required and all other fields will be preserved in the response.\n\nThe total max chunks (length of documents * max_chunks_per_doc) must be less than 10000.\n\nWe recommend a maximum of 1,000 documents for optimal endpoint performance.","items":{"oneOf":[{"type":"string"},{"type":"object","properties":{"text":{"type":"string","x-fern-audiences":["public"],"description":"The text of the document to rerank."}},"required":["text"]}]}},"top_n":{"type":"integer","x-fern-audiences":["public"],"minimum":1,"description":"The number of most relevant documents or indices to return, defaults to the length of the documents"},"rank_fields":{"type":"array","x-fern-audiences":["public"],"items":{"type":"string","x-fern-audiences":["public"]},"description":"If a JSON object is provided, you can specify which keys you would like to have considered for reranking. The model will rerank based on order of the fields passed in (i.e. rank_fields=['title','author','text'] will rerank using the values in title, author, text  sequentially. If the length of title, author, and text exceeds the context length of the model, the chunking will not re-consider earlier fields). If not provided, the model will use the default text field for ranking."},"return_documents":{"type":"boolean","x-fern-audiences":["public"],"default":false,"description":"- If false, returns results without the doc text - the api will return a list of {index, relevance score} where index is inferred from the list passed into the request.\n- If true, returns results with the doc text passed in - the api will return an ordered list of {index, text, relevance score} where index + text refers to the list passed into the request."},"max_chunks_per_doc":{"type":"integer","x-fern-audiences":["public"],"description":"The maximum number of chunks to produce internally from a document","default":10}},"required":["query","documents"]},"examples":{"Example":{"value":{"model":"rerank-english-v2.0","query":"What is the capital of the United States?","documents":["Carson City is the capital city of the American state of Nevada.","The Commonwealth of the Northern Mariana Islands is a group of islands in the Pacific Ocean. Its capital is Saipan.","Washington, D.C. (also known as simply Washington or D.C., and officially as the District of Columbia) is the capital of the United States. It is a federal district.","Capital punishment (the death penalty) has existed in the United States since beforethe United States was a country. As of 2017, capital punishment is legal in 30 of the 50 states."]}}}}},"description":""},"description":"This endpoint takes in a query and a list of texts and produces an ordered array with each text assigned a relevance score.","x-readme":{"samples-languages":["python","curl","node","go"],"code-samples":[{"language":"go","name":"Cohere Go SDK","install":"go get github.com/cohere-ai/cohere-go/v2","code":"package main\n\nimport (\n\t\"context\"\n\t\"log\"\n\n\tcohere \"github.com/cohere-ai/cohere-go/v2\"\n\tclient \"github.com/cohere-ai/cohere-go/v2/client\"\n)\n\nfunc main() {\n\tco := client.NewClient(client.WithToken(\"<<apiKey>>\"))\n\n\tresp, err := co.Rerank(\n\t\tcontext.TODO(),\n\t\t&cohere.RerankRequest{\n\t\t\tQuery: \"What is the capital of the United States?\",\n\t\t\tDocuments: []*cohere.RerankRequestDocumentsItem{\n\t\t\t\t{String: \"Carson City is the capital city of the American state of Nevada.\"},\n\t\t\t\t{String: \"The Commonwealth of the Northern Mariana Islands is a group of islands in the Pacific Ocean. Its capital is Saipan.\"},\n\t\t\t\t{String: \"Washington, D.C. (also known as simply Washington or D.C., and officially as the District of Columbia) is the capital of the United States. It is a federal district.\"},\n\t\t\t},\n\t\t},\n\t)\n\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\tlog.Printf(\"%+v\", resp)\n}\n"},{"language":"node","name":"Cohere TypeScript SDK","install":"npm i cohere-ai","code":"const { CohereClient } = require(\"cohere-ai\");\n\nconst cohere = new CohereClient({\n    token: \"<<apiKey>>\",\n});\n\n(async () => {\n  const rerank = await cohere.rerank({\n      documents: [\n          { text: \"Carson City is the capital city of the American state of Nevada.\"},\n          { text: \"The Commonwealth of the Northern Mariana Islands is a group of islands in the Pacific Ocean. Its capital is Saipan.\"},\n          { text: \"Washington, D.C. (also known as simply Washington or D.C., and officially as the District of Columbia) is the capital of the United States. It is a federal district.\"},\n          { text: \"Capital punishment (the death penalty) has existed in the United States since beforethe United States was a country. As of 2017, capital punishment is legal in 30 of the 50 states.\"}\n      ],\n      query: \"What is the capital of the United States?\",\n      topN: 3,\n  });\n\n  console.log(rerank);\n})();"},{"language":"python","name":"Cohere Python SDK","install":"python -m pip install cohere","code":"import cohere\nco = cohere.Client('<<apiKey>>')\n\ndocs = ['Carson City is the capital city of the American state of Nevada.',\n'The Commonwealth of the Northern Mariana Islands is a group of islands in the Pacific Ocean. Its capital is Saipan.',\n'Washington, D.C. (also known as simply Washington or D.C., and officially as the District of Columbia) is the capital of the United States. It is a federal district.',\n'Capital punishment (the death penalty) has existed in the United States since beforethe United States was a country. As of 2017, capital punishment is legal in 30 of the 50 states.']\n\nresponse = co.rerank(\n  model = 'rerank-english-v2.0',\n  query = 'What is the capital of the United States?',\n  documents = docs,\n  top_n = 3,\n)\nprint(response)"},{"language":"curl","name":"cURL","code":"curl --request POST \\\n  --url https://api.cohere.ai/v1/rerank \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --header \"Authorization: bearer $CO_API_KEY\" \\\n  --data '{\n    \"model\": \"rerank-english-v2.0\",\n    \"query\": \"What is the capital of the United States?\",\n    \"top_n\": 3,\n    \"documents\": [\"Carson City is the capital city of the American state of Nevada.\",\n                  \"The Commonwealth of the Northern Mariana Islands is a group of islands in the Pacific Ocean. Its capital is Saipan.\",\n                  \"Washington, D.C. (also known as simply Washington or D.C., and officially as the District of Columbia) is the capital of the United States. It is a federal district.\",\n                  \"Capital punishment (the death penalty) has existed in the United States since beforethe United States was a country. As of 2017, capital punishment is legal in 30 of the 50 states.\"]\n  }'"}]}}},"/classify":{"post":{"parameters":[{"$ref":"#/components/parameters/RequestSource"}],"x-fern-audiences":["public"],"summary":"Classify","operationId":"classify","x-readme":{"samples-languages":["python","curl","node","go"],"code-samples":[{"language":"go","name":"Cohere Go SDK","install":"go get github.com/cohere-ai/cohere-go/v2","code":"package main\n\nimport (\n\t\"context\"\n\t\"log\"\n\n\tcohere \"github.com/cohere-ai/cohere-go/v2\"\n\tclient \"github.com/cohere-ai/cohere-go/v2/client\"\n)\n\nfunc strPointer(s string) *string {\n\treturn &s\n}\n\nfunc main() {\n\tco := client.NewClient(client.WithToken(\"<<apiKey>>\"))\n\n\tresp, err := co.Classify(\n\t\tcontext.TODO(),\n\t\t&cohere.ClassifyRequest{\n\t\t\tExamples: []*cohere.ClassifyExample{\n\t\t\t\t{\n\t\t\t\t\tText:  strPointer(\"orange\"),\n\t\t\t\t\tLabel: strPointer(\"fruit\"),\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\tText:  strPointer(\"pear\"),\n\t\t\t\t\tLabel: strPointer(\"fruit\"),\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\tText:  strPointer(\"lettuce\"),\n\t\t\t\t\tLabel: strPointer(\"vegetable\"),\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\tText:  strPointer(\"cauliflower\"),\n\t\t\t\t\tLabel: strPointer(\"vegetable\"),\n\t\t\t\t},\n\t\t\t},\n\t\t\tInputs: []string{\"peach\"},\n\t\t},\n\t)\n\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\tlog.Printf(\"%+v\", resp)\n}\n"},{"language":"node","name":"Cohere TypeScript SDK","install":"npm i cohere-ai","code":"const { CohereClient } = require(\"cohere-ai\");\n\nconst cohere = new CohereClient({\n    token: \"<<apiKey>>\",\n});\n\n(async () => {\n  const classify = await cohere.classify({\n      examples: [\n          { text: \"Dermatologists don't like her!\", label: \"Spam\" },\n          { text: \"'Hello, open to this?'\", label: \"Spam\" },\n          { text: \"I need help please wire me $1000 right now\", label: \"Spam\" },\n          { text: \"Nice to know you ;)\", label: \"Spam\" },\n          { text: \"Please help me?\", label: \"Spam\" },\n          { text: \"Your parcel will be delivered today\", label: \"Not spam\" },\n          { text: \"Review changes to our Terms and Conditions\", label: \"Not spam\" },\n          { text: \"Weekly sync notes\", label: \"Not spam\" },\n          { text: \"'Re: Follow up from today's meeting'\", label: \"Not spam\" },\n          { text: \"Pre-read for tomorrow\", label: \"Not spam\" },\n      ],\n      inputs: [\n          \"Confirm your email address\",\n          \"hey i need u to send some $\",\n      ],\n  })\n\n  console.log(classify);\n})();"},{"language":"python","name":"Cohere Python SDK","install":"python -m pip install cohere","code":"import cohere\nfrom cohere import ClassifyExample\nco = cohere.Client('<<apiKey>>')\nexamples=[\n  ClassifyExample(text=\"Dermatologists don't like her!\", label=\"Spam\"),\n  ClassifyExample(text=\"'Hello, open to this?'\", label=\"Spam\"),\n  ClassifyExample(text=\"I need help please wire me $1000 right now\", label=\"Spam\"),\n  ClassifyExample(text=\"Nice to know you ;)\", label=\"Spam\"),\n  ClassifyExample(text=\"Please help me?\", label=\"Spam\"),\n  ClassifyExample(text=\"Your parcel will be delivered today\", label=\"Not spam\"),\n  ClassifyExample(text=\"Review changes to our Terms and Conditions\", label=\"Not spam\"),\n  ClassifyExample(text=\"Weekly sync notes\", label=\"Not spam\"),\n  ClassifyExample(text=\"'Re: Follow up from today's meeting'\", label=\"Not spam\"),\n  ClassifyExample(text=\"Pre-read for tomorrow\", label=\"Not spam\"),\n]\ninputs=[\n  \"Confirm your email address\",\n  \"hey i need u to send some $\",\n]\nresponse = co.classify(\n  inputs=inputs,\n  examples=examples,\n)\nprint(response)"},{"language":"curl","name":"cURL","code":"curl --request POST \\\n  --url https://api.cohere.ai/v1/classify \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --header \"Authorization: bearer $CO_API_KEY\" \\\n  --data '{\n    \"inputs\": [\"Confirm your email address\", \"hey i need u to send some $\"],\n    \"examples\": [\n      {\"text\": \"Dermatologists don'\\''t like her!\",\"label\": \"Spam\"},\n      {\"text\": \"'\\''Hello, open to this?'\\''\",\"label\": \"Spam\"},\n      {\"text\": \"I need help please wire me $1000 right now\",\"label\": \"Spam\"},\n      {\"text\": \"Nice to know you ;)\",\"label\": \"Spam\"},\n      {\"text\": \"Please help me?\",\"label\": \"Spam\"},\n      {\"text\": \"Your parcel will be delivered today\",\"label\": \"Not spam\"},\n      {\"text\": \"Review changes to our Terms and Conditions\",\"label\": \"Not spam\"},\n      {\"text\": \"Weekly sync notes\",\"label\": \"Not spam\"},\n      {\"text\": \"'\\''Re: Follow up from today'\\''s meeting'\\''\",\"label\": \"Not spam\"},\n      {\"text\": \"Pre-read for tomorrow\",\"label\": \"Not spam\"}\n    ]\n  }'"}]},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","x-fern-audiences":["public"],"x-examples":{"Example":{"id":"ca245541-8841-456e-b306-293370789a30","classifications":[{"id":"c50ab0d9-95d8-44de-ba90-9647a1718744","input":"Confirm your email address","prediction":"Not spam","predictions":["Not spam"],"confidence":0.7581943,"confidences":[0.7581943],"labels":{"Not spam":{"confidence":0.7581943},"Spam":{"confidence":0.24180566}},"classification_type":"single-label"},{"id":"8a841de2-027f-49d4-8c91-e88fa1865b89","input":"hey i need u to send some $","prediction":"Spam","predictions":["Spam"],"confidence":0.9965721,"confidences":[0.9965721],"labels":{"Not spam":{"confidence":0.0034279241},"Spam":{"confidence":0.9965721}},"classification_type":"single-label"}]}},"properties":{"id":{"type":"string","x-fern-audiences":["public"],"readOnly":true},"classifications":{"type":"array","x-fern-audiences":["public"],"items":{"type":"object","x-fern-audiences":["public"],"properties":{"id":{"type":"string","x-fern-audiences":["public"],"readOnly":true},"input":{"type":"string","x-fern-audiences":["public"],"description":"The input text that was classified","readOnly":true},"prediction":{"type":"string","x-fern-audiences":["public"],"description":"The predicted label for the associated query (only filled for single-label models)","readOnly":true,"deprecated":true},"predictions":{"type":"array","x-fern-audiences":["public"],"items":{"type":"string","x-fern-audiences":["public"]},"description":"An array containing the predicted labels for the associated query (only filled for single-label classification)","readOnly":true},"confidence":{"type":"number","x-fern-audiences":["public"],"format":"float","description":"The confidence score for the top predicted class (only filled for single-label classification)","readOnly":true,"deprecated":true},"confidences":{"type":"array","x-fern-audiences":["public"],"items":{"type":"number","x-fern-audiences":["public"],"format":"float"},"description":"An array containing the confidence scores of all the predictions in the same order","readOnly":true},"labels":{"type":"object","x-fern-audiences":["public"],"additionalProperties":{"type":"object","x-fern-audiences":["public"],"properties":{"confidence":{"type":"number","x-fern-audiences":["public"],"format":"float","readOnly":true}},"readOnly":true},"description":"A map containing each label and its confidence score according to the classifier. All the confidence scores add up to 1 for single-label classification. For multi-label classification the label confidences are independent of each other, so they don't have to sum up to 1.","readOnly":true},"classification_type":{"type":"string","x-fern-audiences":["public"],"enum":["single-label","multi-label"],"description":"The type of classification performed","readOnly":true}},"required":["id","predictions","confidences","labels","classification_type"],"readOnly":true},"readOnly":true},"meta":{"$ref":"#/components/schemas/ApiMeta","x-fern-audiences":["public"]}},"required":["id","classifications"]},"examples":{"Example":{"value":{"id":"ca245541-8841-456e-b306-293370789a30","classifications":[{"id":"c50ab0d9-95d8-44de-ba90-9647a1718744","input":"Confirm your email address","prediction":"Not spam","predictions":["Not spam"],"confidence":0.7581943,"confidences":[0.7581943],"labels":{"Not spam":{"confidence":0.7581943},"Spam":{"confidence":0.24180566}},"classification_type":"single-label"},{"id":"8a841de2-027f-49d4-8c91-e88fa1865b89","input":"hey i need u to send some $","prediction":"Spam","predictions":["Spam"],"confidence":0.9965721,"confidences":[0.9965721],"labels":{"Not spam":{"confidence":0.0034279241},"Spam":{"confidence":0.9965721}},"classification_type":"single-label"}],"meta":{"api_version":{"version":"1"}}}}}}},"headers":{"X-API-Warning":{"schema":{"type":"string","x-fern-audiences":["public"]},"description":"Warning description for incorrect usage of the API"}}},"400":{"description":"Bad Request"},"429":{"$ref":"#/components/responses/RateLimit"},"500":{"description":"Internal Server Error"}},"description":"This endpoint makes a prediction about which label fits the specified text inputs best. To make a prediction, Classify uses the provided `examples` of text + label pairs as a reference.\nNote: [Fine-tuned models](https://docs.cohere.com/docs/classify-fine-tuning) trained on classification examples don't require the `examples` parameter to be passed in explicitly.","requestBody":{"content":{"application/json":{"schema":{"type":"object","x-fern-audiences":["public"],"x-examples":{"Example":{"inputs":["Confirm your email address","hey i need u to send some $"],"examples":[{"text":"Dermatologists don't like her!","label":"Spam"},{"text":"Hello, open to this?","label":"Spam"},{"text":"I need help please wire me $1000 right now","label":"Spam"},{"text":"Nice to know you ;)","label":"Spam"},{"text":"Please help me?","label":"Spam"},{"text":"Your parcel will be delivered today","label":"Not spam"},{"text":"Review changes to our Terms and Conditions","label":"Not spam"},{"text":"Weekly sync notes","label":"Not spam"},{"text":"Re: Follow up from today’s meeting","label":"Not spam"},{"text":"Pre-read for tomorrow","label":"Not spam"}]}},"properties":{"inputs":{"type":"array","x-fern-audiences":["public"],"maxItems":96,"description":"A list of up to 96 texts to be classified. Each one must be a non-empty string.\nThere is, however, no consistent, universal limit to the length a particular input can be. We perform classification on the first `x` tokens of each input, and `x` varies depending on which underlying model is powering classification. The maximum token length for each model is listed in the \"max tokens\" column [here](https://docs.cohere.com/docs/models).\nNote: by default the `truncate` parameter is set to `END`, so tokens exceeding the limit will be automatically dropped. This behavior can be disabled by setting `truncate` to `NONE`, which will result in validation errors for longer texts.","items":{"type":"string","x-fern-audiences":["public"],"writeOnly":true},"writeOnly":true},"examples":{"type":"array","x-fern-audiences":["public"],"description":"An array of examples to provide context to the model. Each example is a text string and its associated label/class. Each unique label requires at least 2 examples associated with it; the maximum number of examples is 2500, and each example has a maximum length of 512 tokens. The values should be structured as `{text: \"...\",label: \"...\"}`.\nNote: [Fine-tuned Models](https://docs.cohere.com/docs/classify-fine-tuning) trained on classification examples don't require the `examples` parameter to be passed in explicitly.","maxItems":2500,"items":{"x-fern-audiences":["public"],"$ref":"#/components/schemas/ClassifyExample"},"writeOnly":true},"model":{"type":"string","x-fern-audiences":["public"],"description":"The identifier of the model. Currently available models are `embed-multilingual-v2.0`, `embed-english-light-v2.0`, and `embed-english-v2.0` (default). Smaller \"light\" models are faster, while larger models will perform better. [Fine-tuned models](https://docs.cohere.com/docs/fine-tuning) can also be supplied with their full ID.","writeOnly":true},"preset":{"type":"string","x-fern-audiences":["public"],"example":"my-preset-a58sbd","description":"The ID of a custom playground preset. You can create presets in the [playground](https://dashboard.cohere.ai/playground/classify?model=large). If you use a preset, all other parameters become optional, and any included parameters will override the preset's parameters.","writeOnly":true},"truncate":{"type":"string","x-fern-audiences":["public"],"default":"END","enum":["NONE","START","END"],"description":"One of `NONE|START|END` to specify how the API will handle inputs longer than the maximum token length.\nPassing `START` will discard the start of the input. `END` will discard the end of the input. In both cases, input is discarded until the remaining input is exactly the maximum input token length for the model.\nIf `NONE` is selected, when the input exceeds the maximum input token length an error will be returned.","writeOnly":true}},"required":["inputs","examples"]},"examples":{"Example":{"value":{"inputs":["Confirm your email address","hey i need u to send some $"],"examples":[{"text":"Dermatologists don't like her!","label":"Spam"},{"text":"Hello, open to this?","label":"Spam"},{"text":"I need help please wire me $1000 right now","label":"Spam"},{"text":"Nice to know you ;)","label":"Spam"},{"text":"Please help me?","label":"Spam"},{"text":"Your parcel will be delivered today","label":"Not spam"},{"text":"Review changes to our Terms and Conditions","label":"Not spam"},{"text":"Weekly sync notes","label":"Not spam"},{"text":"Re: Follow up from today’s meeting","label":"Not spam"},{"text":"Pre-read for tomorrow","label":"Not spam"}]}}}}},"description":""}}},"/datasets":{"post":{"x-fern-audiences":["public"],"summary":"Create a Dataset","operationId":"create-dataset","description":"Create a dataset by uploading a file. See ['Dataset Creation'](https://docs.cohere.com/docs/datasets#dataset-creation) for more information.","tags":["/datasets"],"x-fern-sdk-group-name":"datasets","x-fern-sdk-method-name":"create","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","x-fern-audiences":["public"],"properties":{"data":{"type":"string","x-fern-audiences":["public"],"format":"binary","description":"The file to upload"},"eval_data":{"type":"string","x-fern-audiences":["public"],"format":"binary","description":"An optional evaluation file to upload"}},"required":["data"]}}}},"parameters":[{"in":"query","name":"name","required":true,"schema":{"type":"string","x-fern-audiences":["public"]},"description":"The name of the uploaded dataset."},{"in":"query","name":"type","required":true,"schema":{"$ref":"#/components/schemas/DatasetType"},"description":"The dataset type, which is used to validate the data. Valid types are `embed-input`, `reranker-finetune-input`, `prompt-completion-finetune-input`, `single-label-classification-finetune-input`, `chat-finetune-input`, and `multi-label-classification-finetune-input`."},{"in":"query","name":"keep_original_file","schema":{"type":"boolean","x-fern-audiences":["public"]},"description":"Indicates if the original file should be stored."},{"in":"query","name":"skip_malformed_input","schema":{"type":"boolean","x-fern-audiences":["public"]},"description":"Indicates whether rows with malformed input should be dropped (instead of failing the validation check). Dropped rows will be returned in the warnings field."},{"in":"query","name":"keep_fields","schema":{"type":"array","items":{"type":"string","x-fern-audiences":["public"]}},"description":"List of names of fields that will be persisted in the Dataset. By default the Dataset will retain only the required fields indicated in the [schema for the corresponding Dataset type](https://docs.cohere.com/docs/datasets#dataset-types). For example, datasets of type `embed-input` will drop all fields other than the required `text` field. If any of the fields in `keep_fields` are missing from the uploaded file, Dataset validation will fail."},{"in":"query","name":"optional_fields","schema":{"type":"array","items":{"type":"string","x-fern-audiences":["public"]}},"description":"List of names of fields that will be persisted in the Dataset. By default the Dataset will retain only the required fields indicated in the [schema for the corresponding Dataset type](https://docs.cohere.com/docs/datasets#dataset-types). For example, Datasets of type `embed-input` will drop all fields other than the required `text` field. If any of the fields in `optional_fields` are missing from the uploaded file, Dataset validation will pass."},{"in":"query","name":"text_separator","schema":{"type":"string","x-fern-audiences":["public"]},"description":"Raw .txt uploads will be split into entries using the text_separator value."},{"in":"query","name":"csv_delimiter","schema":{"type":"string","x-fern-audiences":["public"]},"description":"The delimiter used for .csv uploads."},{"$ref":"#/components/parameters/RequestSource"}],"x-readme":{"samples-languages":["python","curl","go"],"code-samples":[{"language":"go","name":"Cohere Go SDK","install":"go get github.com/cohere-ai/cohere-go/v2","code":"package main\n\nimport (\n\t\"context\"\n\t\"io\"\n\t\"log\"\n\t\"strings\"\n\n\tcohere \"github.com/cohere-ai/cohere-go/v2\"\n\tclient \"github.com/cohere-ai/cohere-go/v2/client\"\n)\n\nfunc strPointer(s string) *string {\n\treturn &s\n}\n\ntype MyReader struct {\n\tio.Reader\n\tname string\n}\n\nfunc (m *MyReader) Name() string {\n\treturn m.name\n}\n\nfunc main() {\n\tco := client.NewClient(client.WithToken(\"<<apiKey>>\"))\n\n\tresp, err := co.Datasets.Create(\n\t\tcontext.TODO(),\n\t\t&MyReader{Reader: strings.NewReader(`{\"text\": \"The quick brown fox jumps over the lazy dog\"}`), name: \"test.jsonl\"},\n\t\t&MyReader{Reader: strings.NewReader(\"\"), name: \"a.jsonl\"},\n\t\t&cohere.DatasetsCreateRequest{\n\t\t\tName: \"prompt-completion-dataset\",\n\t\t\tType: cohere.DatasetTypeEmbedResult,\n\t\t},\n\t)\n\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\tlog.Printf(\"%+v\", resp)\n}\n"},{"language":"python","name":"Cohere Python SDK","install":"python -m pip install cohere","code":"import cohere\nco = cohere.Client('<<apiKey>>')\n\n# upload a dataset\nmy_dataset = co.datasets.create(\n  name=\"prompt-completion-dataset\",\n  data=open(\"./prompt-completion.jsonl\", \"rb\"),\n  type=\"prompt-completion-finetune-input\"\n)\n\n# wait for validation to complete\ndataset = co.wait(my_dataset)\n\nprint(my_dataset)"},{"language":"node","name":"Cohere TypeScript SDK","install":"npm i cohere-ai","code":"const { CohereClient } = require(\"cohere-ai\");\nconst fs = require(\"fs\");\n\nconst cohere = new CohereClient({\n    token: \"<<apiKey>>\",\n});\n\n(async () => {\n  const file = fs.createReadStream(\"embed_jobs_sample_data.jsonl\") // {\"text\": \"The quick brown fox jumps over the lazy dog\"}\n\n  const dataset = await cohere.datasets.create(\n      { name: \"my-dataset\", type: \"embed-input\" },\n      file,\n  );\n\n  console.log(dataset);\n})();"},{"language":"curl","name":"cURL","code":"curl --request POST \\\n  --url \"https://api.cohere.ai/v1/datasets?name=my-dataset&type=generative-finetune-input\" \\\n  --header 'Content-Type: multipart/form-data' \\\n  --header \"Authorization: Bearer $CO_API_KEY\" \\\n  --form file=@./path/to/file.jsonl"}]},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"type":"object","x-fern-audiences":["public"],"properties":{"id":{"type":"string","x-fern-audiences":["public"],"description":"The dataset ID"}}}}}},"429":{"$ref":"#/components/responses/RateLimit"}}},"get":{"x-fern-audiences":["public"],"summary":"List Datasets","operationId":"list-datasets","description":"List datasets that have been created.","tags":["/datasets"],"x-fern-sdk-group-name":"datasets","x-fern-sdk-method-name":"list","parameters":[{"name":"datasetType","in":"query","description":"optional filter by dataset type","schema":{"type":"string","x-fern-audiences":["public"]}},{"name":"before","in":"query","description":"optional filter before a date","schema":{"type":"string","x-fern-audiences":["public"],"format":"date-time"}},{"name":"after","in":"query","description":"optional filter after a date","schema":{"type":"string","x-fern-audiences":["public"],"format":"date-time"}},{"name":"limit","in":"query","description":"optional limit to number of results","schema":{"type":"number","x-fern-audiences":["public"]}},{"name":"offset","in":"query","description":"optional offset to start of results","schema":{"type":"number","x-fern-audiences":["public"]}},{"$ref":"#/components/parameters/RequestSource"}],"x-readme":{"samples-languages":["python","curl","go"],"code-samples":[{"language":"go","name":"Cohere Go SDK","install":"go get github.com/cohere-ai/cohere-go/v2","code":"package main\n\nimport (\n\t\"context\"\n\t\"log\"\n\n\tclient \"github.com/cohere-ai/cohere-go/v2/client\"\n)\n\nfunc main() {\n\tco := client.NewClient(client.WithToken(\"<<apiKey>>\"))\n\n\tresp, err := co.Datasets.Get(context.TODO(), \"dataset_id\")\n\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\tlog.Printf(\"%+v\", resp)\n}\n"},{"language":"python","name":"Cohere Python SDK","install":"python -m pip install cohere","code":"import cohere\nco = cohere.Client('<<apiKey>>')\n\n# list datasets\nmy_datasets = co.datasets.list()\n\nprint(my_datasets)"},{"language":"node","name":"Cohere TypeScript SDK","install":"npm i cohere-ai","code":"const { CohereClient } = require(\"cohere-ai\");\n\nconst cohere = new CohereClient({\n    token: \"<<apiKey>>\",\n});\n\n(async () => {\n  const datasets = await cohere.datasets.list();\n\n  console.log(datasets);\n})();"},{"language":"curl","name":"cURL","code":"curl --request GET \\\n  --url https://api.cohere.ai/v1/datasets \\\n  --header 'accept: application/json' \\\n  --header \"Authorization: bearer $CO_API_KEY\""}]},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"type":"object","x-fern-audiences":["public"],"properties":{"datasets":{"type":"array","x-fern-audiences":["public"],"items":{"$ref":"#/components/schemas/Dataset"}}}}}}},"429":{"$ref":"#/components/responses/RateLimit"}}}},"/datasets/usage":{"get":{"x-fern-audiences":["public"],"summary":"Get Dataset Usage","operationId":"get-dataset-usage","description":"View the dataset storage usage for your Organization. Each Organization can have up to 10GB of storage across all their users.","tags":["/datasets"],"parameters":[{"$ref":"#/components/parameters/RequestSource"}],"x-fern-sdk-group-name":"datasets","x-fern-sdk-method-name":"getUsage","x-readme":{"samples-languages":["python","curl","go"],"code-samples":[{"language":"go","name":"Cohere Go SDK","install":"go get github.com/cohere-ai/cohere-go/v2","code":"package main\n\nimport (\n\t\"context\"\n\t\"log\"\n\n\tclient \"github.com/cohere-ai/cohere-go/v2/client\"\n)\n\nfunc main() {\n\tco := client.NewClient(client.WithToken(\"<<apiKey>>\"))\n\n\tresp, err := co.Datasets.GetUsage(context.TODO())\n\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\tlog.Printf(\"%+v\", resp)\n}\n"},{"language":"python","name":"Cohere Python SDK","install":"python -m pip install cohere","code":"import cohere\nco = cohere.Client('<<apiKey>>')\n\n# get usage\ndataset_usage = co.datasets.get_usage()\n\nprint(dataset_usage)"},{"language":"node","name":"Cohere TypeScript SDK","install":"npm i cohere-ai","code":"const { CohereClient } = require(\"cohere-ai\");\n\nconst cohere = new CohereClient({\n    token: \"<<apiKey>>\",\n});\n\n(async () => {\n  const usage = await cohere.datasets.getUsage(\"id\");\n\n  console.log(usage);\n})();"},{"language":"curl","name":"cURL","code":"curl --request GET \\\n  --url https://api.cohere.ai/v1/datasets/usage \\\n  --header 'accept: application/json' \\\n  --header \"Authorization: bearer $CO_API_KEY\""}]},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"type":"object","x-fern-audiences":["public"],"properties":{"organization_usage":{"type":"string","x-fern-audiences":["public"],"format":"int64","description":"The total number of bytes used by the organization."}}}}}},"429":{"$ref":"#/components/responses/RateLimit"}}}},"/datasets/{id}":{"get":{"x-fern-audiences":["public"],"summary":"Get a Dataset","operationId":"get-dataset","description":"Retrieve a dataset by ID. See ['Datasets'](https://docs.cohere.com/docs/datasets) for more information.","tags":["/datasets"],"x-fern-sdk-group-name":"datasets","x-fern-sdk-method-name":"get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","x-fern-audiences":["public"],"pattern":"^(?!usage$).*$"}},{"$ref":"#/components/parameters/RequestSource"}],"x-readme":{"samples-languages":["python","curl","go"],"code-samples":[{"language":"go","name":"Cohere Go SDK","install":"go get github.com/cohere-ai/cohere-go/v2","code":"package main\n\nimport (\n\t\"context\"\n\t\"log\"\n\n\tclient \"github.com/cohere-ai/cohere-go/v2/client\"\n)\n\nfunc main() {\n\tco := client.NewClient(client.WithToken(\"<<apiKey>>\"))\n\n\tresp, err := co.Datasets.Get(context.TODO(), \"dataset_id\")\n\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\tlog.Printf(\"%+v\", resp)\n}\n"},{"language":"python","name":"Cohere Python SDK","install":"python -m pip install cohere","code":"import cohere\nco = cohere.Client('<<apiKey>>')\n\n# get dataset\nmy_dataset = co.datasets.get('id')\n\nprint(my_dataset)"},{"language":"node","name":"Cohere TypeScript SDK","install":"npm i cohere-ai","code":"const { CohereClient } = require(\"cohere-ai\");\n\nconst cohere = new CohereClient({\n    token: \"<<apiKey>>\",\n});\n\n(async () => {\n  const dataset = await cohere.datasets.get(\"id\");\n\n  console.log(dataset);\n})();"},{"language":"curl","name":"cURL","code":"curl --request GET \\\n  --url https://api.cohere.ai/v1/datasets/id \\\n  --header 'accept: application/json' \\\n  --header \"Authorization: bearer $CO_API_KEY\""}]},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"type":"object","x-fern-audiences":["public"],"required":["dataset"],"properties":{"dataset":{"$ref":"#/components/schemas/Dataset"}}}}}},"429":{"$ref":"#/components/responses/RateLimit"}}},"delete":{"x-fern-audiences":["public"],"summary":"Delete a Dataset","operationId":"delete-dataset","description":"Delete a dataset by ID. Datasets are automatically deleted after 30 days, but they can also be deleted manually.","tags":["/datasets"],"x-fern-sdk-group-name":"datasets","x-fern-sdk-method-name":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","x-fern-audiences":["public"],"pattern":"^(?!usage$).*$"}},{"$ref":"#/components/parameters/RequestSource"}],"x-readme":{"samples-languages":["python","curl","go"],"code-samples":[{"language":"go","name":"Cohere Go SDK","install":"go get github.com/cohere-ai/cohere-go/v2","code":"package main\n\nimport (\n\t\"context\"\n\t\"log\"\n\n\tclient \"github.com/cohere-ai/cohere-go/v2/client\"\n)\n\nfunc main() {\n\tco := client.NewClient(client.WithToken(\"<<apiKey>>\"))\n\n\t_, err := co.Datasets.Delete(context.TODO(), \"dataset_id\")\n\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n}\n"},{"language":"python","name":"Cohere Python SDK","install":"python -m pip install cohere","code":"import cohere\nco = cohere.Client('<<apiKey>>')\n\n# delete dataset\nco.delete_dataset('id')"},{"language":"curl","name":"cURL","code":"curl --request DELETE \\\n  --url https://api.cohere.ai/v1/datasets/id \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --header \"Authorization: bearer $CO_API_KEY\""}]},"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"type":"object","x-fern-audiences":["public"]}}}},"429":{"$ref":"#/components/responses/RateLimit"}}}},"/summarize":{"post":{"x-fern-audiences":["public"],"summary":"Summarize","operationId":"summarize","parameters":[{"$ref":"#/components/parameters/RequestSource"}],"x-readme":{"samples-languages":["python","curl","node","go"],"code-samples":[{"language":"go","name":"Cohere Go SDK","install":"go get github.com/cohere-ai/cohere-go/v2","code":"package main\n\nimport (\n\t\"context\"\n\t\"log\"\n\n\tcohere \"github.com/cohere-ai/cohere-go/v2\"\n\tclient \"github.com/cohere-ai/cohere-go/v2/client\"\n)\n\nfunc main() {\n\tco := client.NewClient(client.WithToken(\"<<apiKey>>\"))\n\n\tresp, err := co.Summarize(\n\t\tcontext.TODO(),\n\t\t&cohere.SummarizeRequest{\n\t\t\tText: \"the quick brown fox jumped over the lazy dog and then the dog jumped over the fox the quick brown fox jumped over the lazy dog the quick brown fox jumped over the lazy dog the quick brown fox jumped over the lazy dog the quick brown fox jumped over the lazy dog\",\n\t\t},\n\t)\n\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\tlog.Printf(\"%+v\", resp)\n}\n"},{"language":"node","name":"Cohere TypeScript SDK","install":"npm i cohere-ai","code":"const { CohereClient } = require(\"cohere-ai\");\n\nconst cohere = new CohereClient({\n    token: \"<<apiKey>>\",\n});\n\n(async () => {\n  const summarize = await cohere.summarize({\n      text: \"Ice cream is a sweetened frozen food typically eaten as a snack or dessert. \"\n          + \"It may be made from milk or cream and is flavoured with a sweetener, \"\n          + \"either sugar or an alternative, and a spice, such as cocoa or vanilla, \"\n          + \"or with fruit such as strawberries or peaches. \"\n          + \"It can also be made by whisking a flavored cream base and liquid nitrogen together. \"\n          + \"Food coloring is sometimes added, in addition to stabilizers. \"\n          + \"The mixture is cooled below the freezing point of water and stirred to incorporate air spaces \"\n          + \"and to prevent detectable ice crystals from forming. The result is a smooth, \"\n          + \"semi-solid foam that is solid at very low temperatures (below 2 °C or 35 °F). \"\n          + \"It becomes more malleable as its temperature increases.\\n\\n\"\n          + \"The meaning of the name \\\"ice cream\\\" varies from one country to another. \"\n          + \"In some countries, such as the United States, \\\"ice cream\\\" applies only to a specific variety, \"\n          + \"and most governments regulate the commercial use of the various terms according to the \"\n          + \"relative quantities of the main ingredients, notably the amount of cream. \"\n          + \"Products that do not meet the criteria to be called ice cream are sometimes labelled \"\n          + \"\\\"frozen dairy dessert\\\" instead. In other countries, such as Italy and Argentina, \"\n          + \"one word is used fo\\r all variants. Analogues made from dairy alternatives, \"\n          + \"such as goat's or sheep's milk, or milk substitutes \"\n          + \"(e.g., soy, cashew, coconut, almond milk or tofu), are available for those who are \"\n          + \"lactose intolerant, allergic to dairy protein or vegan.\",\n  });\n\n  console.log(summarize);\n})();"},{"language":"python","name":"Cohere Python SDK","install":"python -m pip install cohere","code":"import cohere\nco = cohere.Client('<<apiKey>>')\n\ntext=(\n  \"Ice cream is a sweetened frozen food typically eaten as a snack or dessert. \"\n  \"It may be made from milk or cream and is flavoured with a sweetener, \"\n  \"either sugar or an alternative, and a spice, such as cocoa or vanilla, \"\n  \"or with fruit such as strawberries or peaches. \"\n  \"It can also be made by whisking a flavored cream base and liquid nitrogen together. \"\n  \"Food coloring is sometimes added, in addition to stabilizers. \"\n  \"The mixture is cooled below the freezing point of water and stirred to incorporate air spaces \"\n  \"and to prevent detectable ice crystals from forming. The result is a smooth, \"\n  \"semi-solid foam that is solid at very low temperatures (below 2 °C or 35 °F). \"\n  \"It becomes more malleable as its temperature increases.\\n\\n\"\n  \"The meaning of the name \\\"ice cream\\\" varies from one country to another. \"\n  \"In some countries, such as the United States, \\\"ice cream\\\" applies only to a specific variety, \"\n  \"and most governments regulate the commercial use of the various terms according to the \"\n  \"relative quantities of the main ingredients, notably the amount of cream. \"\n  \"Products that do not meet the criteria to be called ice cream are sometimes labelled \"\n  \"\\\"frozen dairy dessert\\\" instead. In other countries, such as Italy and Argentina, \"\n  \"one word is used fo\\r all variants. Analogues made from dairy alternatives, \"\n  \"such as goat's or sheep's milk, or milk substitutes \"\n  \"(e.g., soy, cashew, coconut, almond milk or tofu), are available for those who are \"\n  \"lactose intolerant, allergic to dairy protein or vegan.\"\n)\n\nresponse = co.summarize(\n  text=text,\n)\nprint(response)"},{"language":"curl","name":"cURL","code":"curl --request POST \\\n  --url https://api.cohere.ai/v1/summarize \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --header \"Authorization: bearer $CO_API_KEY\" \\\n    --data '{\n    \"text\": \"Ice cream is a sweetened frozen food typically eaten as a snack or dessert. It may be made from milk or cream and is flavoured with a sweetener, either sugar or an alternative, and a spice, such as cocoa or vanilla, or with fruit such as strawberries or peaches. It can also be made by whisking a flavored cream base and liquid nitrogen together. Food coloring is sometimes added, in addition to stabilizers. The mixture is cooled below the freezing point of water and stirred to incorporate air spaces and to prevent detectable ice crystals from forming. The result is a smooth, semi-solid foam that is solid at very low temperatures (below 2 °C or 35 °F). It becomes more malleable as its temperature increases.\\n\\nThe meaning of the name \\\"ice cream\\\" varies from one country to another. In some countries, such as the United States, \\\"ice cream\\\" applies only to a specific variety, and most governments regulate the commercial use of the various terms according to the relative quantities of the main ingredients, notably the amount of cream. Products that do not meet the criteria to be called ice cream are sometimes labelled \\\"frozen dairy dessert\\\" instead. In other countries, such as Italy and Argentina, one word is used for all variants. Analogues made from dairy alternatives, such as goat'\\''s or sheep'\\''s milk, or milk substitutes (e.g., soy, cashew, coconut, almond milk or tofu), are available for those who are lactose intolerant, allergic to dairy protein or vegan.\"\n  }'"}]},"responses":{"200":{"description":"OK","headers":{"X-API-Warning":{"schema":{"type":"string","x-fern-audiences":["public"]},"description":"Warning description for incorrect usage of the API"}},"content":{"application/json":{"schema":{"type":"object","x-fern-audiences":["public"],"properties":{"id":{"type":"string","x-fern-audiences":["public"],"description":"Generated ID for the summary"},"summary":{"type":"string","x-fern-audiences":["public"],"description":"Generated summary for the text"},"meta":{"$ref":"#/components/schemas/ApiMeta","x-fern-audiences":["public"]}}}}}},"429":{"$ref":"#/components/responses/RateLimit"}},"description":"> 🚧 Warning\n> \n> This API is marked as \"Legacy\" and is no longer maintained. Follow the [migration guide](/docs/migrating-from-cogenerate-to-cochat) to start using the Chat API.\n\nGenerates a summary in English for a given text.\n","requestBody":{"content":{"application/json":{"schema":{"type":"object","x-fern-audiences":["public"],"properties":{"text":{"type":"string","x-fern-audiences":["public"],"description":"The text to generate a summary for. Can be up to 100,000 characters long. Currently the only supported language is English.","minLength":250,"maxLength":50000,"writeOnly":true},"length":{"type":"string","x-fern-audiences":["public"],"description":"One of `short`, `medium`, `long`, or `auto` defaults to `auto`. Indicates the approximate length of the summary. If `auto` is selected, the best option will be picked based on the input text.","default":"medium","enum":["short","medium","long"],"writeOnly":true},"format":{"type":"string","x-fern-audiences":["public"],"default":"paragraph","enum":["paragraph","bullets"],"description":"One of `paragraph`, `bullets`, or `auto`, defaults to `auto`. Indicates the style in which the summary will be delivered - in a free form paragraph or in bullet points. If `auto` is selected, the best option will be picked based on the input text.","writeOnly":true},"model":{"type":"string","x-fern-audiences":["public"],"description":"The identifier of the model to generate the summary with. Currently available models are `command` (default), `command-nightly` (experimental), `command-light`, and `command-light-nightly` (experimental). Smaller, \"light\" models are faster, while larger models will perform better.","writeOnly":true},"extractiveness":{"type":"string","x-fern-audiences":["public"],"description":"One of `low`, `medium`, `high`, or `auto`, defaults to `auto`. Controls how close to the original text the summary is. `high` extractiveness summaries will lean towards reusing sentences verbatim, while `low` extractiveness summaries will tend to paraphrase more. If `auto` is selected, the best option will be picked based on the input text.","default":"low","enum":["low","medium","high"],"writeOnly":true},"temperature":{"type":"number","x-fern-audiences":["public"],"description":"Ranges from 0 to 5. Controls the randomness of the output. Lower values tend to generate more “predictable” output, while higher values tend to generate more “creative” output. The sweet spot is typically between 0 and 1.","default":0.3,"minimum":0,"maximum":5,"writeOnly":true},"additional_command":{"type":"string","x-fern-audiences":["public"],"description":"A free-form instruction for modifying how the summaries get generated. Should complete the sentence \"Generate a summary _\". Eg. \"focusing on the next steps\" or \"written by Yoda\"","writeOnly":true}},"required":["text"]},"examples":{"Example":{"value":{"text":"Ice cream is a sweetened frozen food typically eaten as a snack or dessert. It may be made from milk or cream and is flavoured with a sweetener, either sugar or an alternative, and a spice, such as cocoa or vanilla, or with fruit such as strawberries or peaches. It can also be made by whisking a flavored cream base and liquid nitrogen together. Food coloring is sometimes added, in addition to stabilizers. The mixture is cooled below the freezing point of water and stirred to incorporate air spaces and to prevent detectable ice crystals from forming. The result is a smooth, semi-solid foam that is solid at very low temperatures (below 2 °C or 35 °F). It becomes more malleable as its temperature increases.\n\nThe meaning of the name \"ice cream\" varies from one country to another. In some countries, such as the United States, \"ice cream\" applies only to a specific variety, and most governments regulate the commercial use of the various terms according to the relative quantities of the main ingredients, notably the amount of cream. Products that do not meet the criteria to be called ice cream are sometimes labelled \"frozen dairy dessert\" instead. In other countries, such as Italy and Argentina, one word is used fo\r all variants. Analogues made from dairy alternatives, such as goat's or sheep's milk, or milk substitutes (e.g., soy, cashew, coconut, almond milk or tofu), are available for those who are lactose intolerant, allergic to dairy protein or vegan."}}}}},"description":""}}},"/tokenize":{"post":{"x-fern-audiences":["public"],"summary":"Tokenize","operationId":"tokenize","parameters":[{"$ref":"#/components/parameters/RequestSource"}],"x-readme":{"samples-languages":["python","curl","node","go"],"code-samples":[{"language":"go","name":"Cohere Go SDK","install":"go get github.com/cohere-ai/cohere-go/v2","code":"package main\n\nimport (\n\t\"context\"\n\t\"log\"\n\n\tcohere \"github.com/cohere-ai/cohere-go/v2\"\n\tclient \"github.com/cohere-ai/cohere-go/v2/client\"\n)\n\nfunc strPointer(s string) *string {\n\treturn &s\n}\n\nfunc main() {\n\tco := client.NewClient(client.WithToken(\"<<apiKey>>\"))\n\n\tresp, err := co.Tokenize(\n\t\tcontext.TODO(),\n\t\t&cohere.TokenizeRequest{\n\t\t\tText:  \"cohere <3\",\n\t\t\tModel: \"base\",\n\t\t},\n\t)\n\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\tlog.Printf(\"%+v\", resp)\n}\n"},{"language":"node","name":"Cohere TypeScript SDK","install":"npm i cohere-ai","code":"const { CohereClient } = require(\"cohere-ai\");\n\nconst cohere = new CohereClient({\n    token: \"<<apiKey>>\",\n});\n\n(async () => {\n  const tokenize = await cohere.tokenize({\n      text: \"tokenize me! :D\",\n      model: \"command\",\n  });\n\n  console.log(tokenize);\n})();"},{"language":"python","name":"Cohere Python SDK","install":"python -m pip install cohere","code":"import cohere\nco = cohere.Client('<<apiKey>>')\n\nresponse = co.tokenize(\n  text='tokenize me! :D',\n  model='command' # optional\n)\nprint(response)"},{"language":"node","name":"Cohere Node.js SDK","install":"npm install cohere-ai","code":"const cohere = require('cohere-ai');\ncohere.init('<<apiKey>>')\n\n(async () => {\n  const response = await cohere.tokenize({\n    text: 'tokenize me! :D',\n    model: 'command' // optional\n  });\n  console.log(response);\n})();"},{"language":"curl","name":"cURL","code":"curl --request POST \\\n  --url https://api.cohere.ai/v1/tokenize \\\n  --header 'accept: application/json' \\\n  --header 'content-type: application/json' \\\n  --header \"Authorization: bearer $CO_API_KEY\" \\\n  --data '{\n    \"model\": \"command\",\n    \"text\": \"tokenize me! :D\"\n  }'"}]},"responses":{"200":{"description":"OK","headers":{"X-API-Warning":{"schema":{"type":"string","x-fern-audiences":["public"]},"description":"Warning description for incorrect usage of the API"}},"content":{"application/json":{"schema":{"type":"object","x-fern-audiences":["public"],"properties":{"tokens":{"type":"array","x-fern-audiences":["public"],"description":"An array of tokens, where each token is an integer.","items":{"type":"integer","x-fern-audiences":["public"],"readOnly":true},"readOnly":true},"token_strings":{"type":"array","x-fern-audiences":["public"],"items":{"type":"string","x-fern-audiences":["public"]}},"meta":{"$ref":"#/components/schemas/ApiMeta","x-fern-audiences":["public"]}},"required":["tokens","token_strings"]},"examples":{"Example":{"value":{"tokens":[34160,974,514,34,1420,69],"token_strings":["token","ize'"," me","!"," :","D"],"meta":{"api_version":{"version":"1"}}}}}}}},"400":{"description":"Bad Request"},"429":{"$ref":"#/components/responses/RateLimit"},"500":{"description":"Internal Server Error"}},"description":"This endpoint splits input text into smaller units called tokens using byte-pair encoding (BPE). To learn more about tokenization and byte pair encoding, see the tokens page.","requestBody":{"content":{"application/json":{"schema":{"type":"object","x-fern-audiences":["public"],"properties":{"text":{"type":"string","x-fern-audiences":["public"],"description":"The string to be tokenized, the minimum text length is 1 character, and the maximum text length is 65536 characters.","minLength":1,"maxLength":65536},"model":{"type":"string","x-fern-audiences":["public"],"description":"An optional parameter to provide the model name. This will ensure that the tokenization uses the tokenizer used by that model."}},"required":["text","model"]},"examples":{"Example":{"value":{"text":"tokenize me! :D","model":"command"}}}}},"description":""}}},"/detokenize":{"post":{"x-fern-audiences":["public"],"summary":"Detokenize","operationId":"detokenize","parameters":[{"$ref":"#/components/parameters/RequestSource"}],"x-readme":{"samples-languages":["python","curl","node","go"],"code-samples":[{"language":"go","name":"Cohere Go SDK","install":"go get github.com/cohere-ai/cohere-go/v2","code":"package main\n\nimport (\n\t\"context\"\n\t\"log\"\n\n\tcohere \"github.com/cohere-ai/cohere-go/v2\"\n\tclient \"github.com/cohere-ai/cohere-go/v2/client\"\n)\n\nfunc main() {\n\tco := client.NewClient(client.WithToken(\"<<apiKey>>\"))\n\n\tresp, err := co.Detokenize(\n\t\tcontext.TODO(),\n\t\t&cohere.DetokenizeRequest{\n\t\t\tTokens: []int{10002, 1706, 1722, 5169, 4328},\n\t\t},\n\t)\n\n\tif err != nil {\n\t\tlog.Fatal(err)\n\t}\n\n\tlog.Printf(\"%+v\", resp)\n}\n"},{"language":"node","name":"Cohere TypeScript SDK","install":"npm i cohere-ai","code":"const { CohereClient } = require(\"cohere-ai\");\n\nconst cohere = new CohereClient({\n    token: \"<<apiKey>>\",\n});\n\n(async () => {\n  const detokenize = await cohere.detokenize({\n      tokens: [ 10002, 2261, 2012, 8, 2792, 43 ],\n      model: \"command\",\n  });\n\n  console.log(detokenize);\n})();"},{"language":"python","name":"Cohere Python SDK","install":"python -m pip install cohere","code":"import cohere\nco = cohere.Client('<<apiKey>>')\n\nresponse = co.detokenize(\n  tokens=[
[...]
