{
  "openapi": "3.0.1",
  "info": {
    "title": "Dash JSON API",
    "version": "1.0.0",
    "description": "This is the documentation for Dash's public API. \r\n        We follow the JSON API specification (more info linked below). \r\n        Take a look at the introduction section to find information on how to use the api including: \r\n        authentication, non-spec request parameters, clients, and pricing."
  },
  "servers": [
    {
      "url": "https://api.dashplatform.com/v1",
      "description": ""
    }
  ],
  "externalDocs": {
    "description": "For more information on the JSON API specification see their documentation.",
    "url": "http://jsonapi.org/format"
  },
  "paths": {
    "/auth/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "description": "OAuth2 Credentials Grant Flow. Successful responses will include a JWT Bearer token to be pass via the Authorization header in subsequent requests.",
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type",
                  "client_id",
                  "client_secret"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "description": "Type of grant requested",
                    "default": "client_credentials"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Api key for authentication"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Secret key for authentication"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Authentication",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "auth",
                    "access_token"
                  ],
                  "properties": {
                    "auth": {
                      "type": "boolean",
                      "description": "Was the request successful?",
                      "default": true
                    },
                    "access_token": {
                      "type": "string",
                      "description": "The JWT for further api request's authentication"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Unsuccessful Authentication",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "auth",
                    "message"
                  ],
                  "properties": {
                    "auth": {
                      "type": "boolean",
                      "description": "Was the request successful?",
                      "default": false
                    },
                    "message": {
                      "type": "string",
                      "description": "Reason for authentication failure"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/addresses": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "description": "addresses index request",
        "parameters": [
          {
            "$ref": "#/components/parameters/header-authorization"
          },
          {
            "$ref": "#/components/parameters/query-company"
          },
          {
            "$ref": "#/components/parameters/query-sort"
          },
          {
            "$ref": "#/components/parameters/query-include"
          },
          {
            "$ref": "#/components/parameters/query-fields"
          },
          {
            "$ref": "#/components/parameters/query-page"
          },
          {
            "$ref": "#/components/parameters/query-filter"
          }
        ],
        "security": [
          {},
          {
            "employee": []
          },
          {
            "customer": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "type",
                          "attributes"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/addresses"
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "customers": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/object-identifier"
                                }
                              }
                            }
                          },
                          "links": {
                            "$ref": "#/components/schemas/resource-links"
                          }
                        }
                      }
                    },
                    "included": {
                      "$ref": "#/components/schemas/included"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/page"
                        }
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/nav-links"
                    }
                  }
                }
              }
            },
            "description": "Successful index response"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "502": {
            "description": "Bad Gateway"
          }
        }
      },
      "post": {
        "tags": [
          "Addresses"
        ],
        "description": "addresses create request",
        "parameters": [
          {
            "$ref": "#/components/parameters/header-authorization"
          },
          {
            "$ref": "#/components/parameters/query-company"
          }
        ],
        "security": [
          {
            "employee": []
          },
          {
            "customer": []
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "id",
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/addresses-create"
                      },
                      "relationships": {
                        "type": "object",
                        "properties": {
                          "customers": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/object-identifier"
                            }
                          }
                        }
                      },
                      "links": {
                        "$ref": "#/components/schemas/resource-links"
                      }
                    }
                  },
                  "included": {
                    "$ref": "#/components/schemas/included"
                  }
                }
              }
            }
          },
          "description": "Resource to create"
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "202": {
            "description": "Accepted for Processing"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "502": {
            "description": "Bad Gateway"
          }
        }
      }
    },
    "/addresses/{id}": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "description": "addresses read request",
        "parameters": [
          {
            "$ref": "#/components/parameters/header-authorization"
          },
          {
            "$ref": "#/components/parameters/query-company"
          },
          {
            "$ref": "#/components/parameters/query-sort"
          },
          {
            "$ref": "#/components/parameters/query-include"
          },
          {
            "$ref": "#/components/parameters/query-fields"
          }
        ],
        "security": [
          {},
          {
            "employee": []
          },
          {
            "customer": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "id",
                        "type",
                        "attributes"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/addresses"
                        },
                        "relationships": {
                          "type": "object",
                          "properties": {
                            "customers": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/object-identifier"
                              }
                            }
                          }
                        },
                        "links": {
                          "$ref": "#/components/schemas/resource-links"
                        }
                      }
                    },
                    "included": {
                      "$ref": "#/components/schemas/included"
                    }
                  }
                }
              }
            },
            "description": "Successful read response"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "502": {
            "description": "Bad Gateway"
          }
        }
      },
      "patch": {
        "tags": [
          "Addresses"
        ],
        "description": "addresses update request",
        "parameters": [
          {
            "$ref": "#/components/parameters/header-authorization"
          },
          {
            "$ref": "#/components/parameters/query-company"
          }
        ],
        "security": [
          {
            "employee": []
          },
          {
            "customer": []
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "id",
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/addresses"
                      },
                      "relationships": {
                        "type": "object",
                        "properties": {
                          "customers": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/object-identifier"
                            }
                          }
                        }
                      },
                      "links": {
                        "$ref": "#/components/schemas/resource-links"
                      }
                    }
                  },
                  "included": {
                    "$ref": "#/components/schemas/included"
                  }
                }
              }
            }
          },
          "description": "Resource to update"
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted for Processing"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "502": {
            "description": "Bad Gateway"
          }
        }
      },
      "delete": {
        "tags": [
          "Addresses"
        ],
        "description": "addresses delete request",
        "parameters": [
          {
            "$ref": "#/components/parameters/header-authorization"
          },
          {
            "$ref": "#/components/parameters/query-company"
          }
        ],
        "security": [
          {
            "employee": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted for Processing"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "502": {
            "description": "Bad Gateway"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/path-id"
        }
      ]
    },
    "/age-ranges": {
      "get": {
        "tags": [
          "Age Ranges"
        ],
        "description": "age-ranges index request",
        "parameters": [
          {
            "$ref": "#/components/parameters/header-authorization"
          },
          {
            "$ref": "#/components/parameters/query-company"
          },
          {
            "$ref": "#/components/parameters/query-sort"
          },
          {
            "$ref": "#/components/parameters/query-include"
          },
          {
            "$ref": "#/components/parameters/query-fields"
          },
          {
            "$ref": "#/components/parameters/query-page"
          },
          {
            "$ref": "#/components/parameters/query-filter"
          }
        ],
        "security": [
          {},
          {
            "employee": []
          },
          {
            "customer": []
          },
          {
            "company": [
              "age-range.INDEX"
            ]
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "type",
                          "attributes"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/age-ranges"
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "leagues": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/object-identifier"
                                }
                              },
                              "teams": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/object-identifier"
                                }
                              }
                            }
                          },
                          "links": {
                            "$ref": "#/components/schemas/resource-links"
                          }
                        }
                      }
                    },
                    "included": {
                      "$ref": "#/components/schemas/included"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/page"
                        }
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/nav-links"
                    }
                  }
                }
              }
            },
            "description": "Successful index response"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "502": {
            "description": "Bad Gateway"
          }
        }
      },
      "post": {
        "tags": [
          "Age Ranges"
        ],
        "description": "age-ranges create request",
        "parameters": [
          {
            "$ref": "#/components/parameters/header-authorization"
          },
          {
            "$ref": "#/components/parameters/query-company"
          }
        ],
        "security": [
          {
            "employee": []
          },
          {
            "company": [
              "age-range.CREATE"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "id",
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/age-ranges-create"
                      },
                      "relationships": {
                        "type": "object",
                        "properties": {
                          "leagues": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/object-identifier"
                            }
                          },
                          "teams": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/object-identifier"
                            }
                          }
                        }
                      },
                      "links": {
                        "$ref": "#/components/schemas/resource-links"
                      }
                    }
                  },
                  "included": {
                    "$ref": "#/components/schemas/included"
                  }
                }
              }
            }
          },
          "description": "Resource to create"
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "202": {
            "description": "Accepted for Processing"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "502": {
            "description": "Bad Gateway"
          }
        }
      }
    },
    "/age-ranges/{id}": {
      "get": {
        "tags": [
          "Age Ranges"
        ],
        "description": "age-ranges read request",
        "parameters": [
          {
            "$ref": "#/components/parameters/header-authorization"
          },
          {
            "$ref": "#/components/parameters/query-company"
          },
          {
            "$ref": "#/components/parameters/query-sort"
          },
          {
            "$ref": "#/components/parameters/query-include"
          },
          {
            "$ref": "#/components/parameters/query-fields"
          }
        ],
        "security": [
          {},
          {
            "employee": []
          },
          {
            "customer": []
          },
          {
            "company": [
              "age-range.READ"
            ]
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "id",
                        "type",
                        "attributes"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/age-ranges"
                        },
                        "relationships": {
                          "type": "object",
                          "properties": {
                            "leagues": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/object-identifier"
                              }
                            },
                            "teams": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/object-identifier"
                              }
                            }
                          }
                        },
                        "links": {
                          "$ref": "#/components/schemas/resource-links"
                        }
                      }
                    },
                    "included": {
                      "$ref": "#/components/schemas/included"
                    }
                  }
                }
              }
            },
            "description": "Successful read response"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "502": {
            "description": "Bad Gateway"
          }
        }
      },
      "patch": {
        "tags": [
          "Age Ranges"
        ],
        "description": "age-ranges update request",
        "parameters": [
          {
            "$ref": "#/components/parameters/header-authorization"
          },
          {
            "$ref": "#/components/parameters/query-company"
          }
        ],
        "security": [
          {
            "employee": []
          },
          {
            "company": [
              "age-range.UPDATE"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "id",
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/age-ranges"
                      },
                      "relationships": {
                        "type": "object",
                        "properties": {
                          "leagues": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/object-identifier"
                            }
                          },
                          "teams": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/object-identifier"
                            }
                          }
                        }
                      },
                      "links": {
                        "$ref": "#/components/schemas/resource-links"
                      }
                    }
                  },
                  "included": {
                    "$ref": "#/components/schemas/included"
                  }
                }
              }
            }
          },
          "description": "Resource to update"
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted for Processing"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "502": {
            "description": "Bad Gateway"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/path-id"
        }
      ]
    },
    "/allocations": {
      "get": {
        "tags": [
          "Allocations"
        ],
        "description": "allocations index request",
        "parameters": [
          {
            "$ref": "#/components/parameters/header-authorization"
          },
          {
            "$ref": "#/components/parameters/query-company"
          },
          {
            "$ref": "#/components/parameters/query-sort"
          },
          {
            "$ref": "#/components/parameters/query-include"
          },
          {
            "$ref": "#/components/parameters/query-fields"
          },
          {
            "$ref": "#/components/parameters/query-page"
          },
          {
            "$ref": "#/components/parameters/query-filter"
          }
        ],
        "security": [
          {
            "employee": []
          },
          {
            "customer": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "type",
                          "attributes"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/allocations"
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "payment": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/object-identifier"
                                }
                              },
                              "invoiceItem": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/object-identifier"
                                }
                              }
                            }
                          },
                          "links": {
                            "$ref": "#/components/schemas/resource-links"
                          }
                        }
                      }
                    },
                    "included": {
                      "$ref": "#/components/schemas/included"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/page"
                        }
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/nav-links"
                    }
                  }
                }
              }
            },
            "description": "Successful index response"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "502": {
            "description": "Bad Gateway"
          }
        }
      }
    },
    "/allocations/{id}": {
      "get": {
        "tags": [
          "Allocations"
        ],
        "description": "allocations read request",
        "parameters": [
          {
            "$ref": "#/components/parameters/header-authorization"
          },
          {
            "$ref": "#/components/parameters/query-company"
          },
          {
            "$ref": "#/components/parameters/query-sort"
          },
          {
            "$ref": "#/components/parameters/query-include"
          },
          {
            "$ref": "#/components/parameters/query-fields"
          }
        ],
        "security": [
          {
            "employee": []
          },
          {
            "customer": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "id",
                        "type",
                        "attributes"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/allocations"
                        },
                        "relationships": {
                          "type": "object",
                          "properties": {
                            "payment": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/object-identifier"
                              }
                            },
                            "invoiceItem": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/object-identifier"
                              }
                            }
                          }
                        },
                        "links": {
                          "$ref": "#/components/schemas/resource-links"
                        }
                      }
                    },
                    "included": {
                      "$ref": "#/components/schemas/included"
                    }
                  }
                }
              }
            },
            "description": "Successful read response"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "502": {
            "description": "Bad Gateway"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/path-id"
        }
      ]
    },
    "/audits": {
      "get": {
        "tags": [
          "Audits"
        ],
        "description": "audits index request",
        "parameters": [
          {
            "$ref": "#/components/parameters/header-authorization"
          },
          {
            "$ref": "#/components/parameters/query-company"
          },
          {
            "$ref": "#/components/parameters/query-sort"
          },
          {
            "$ref": "#/components/parameters/query-include"
          },
          {
            "$ref": "#/components/parameters/query-fields"
          },
          {
            "$ref": "#/components/parameters/query-page"
          },
          {
            "$ref": "#/components/parameters/query-filter"
          }
        ],
        "security": [
          {
            "employee": []
          },
          {
            "customer": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "type",
                          "attributes"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/audits"
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "object": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/object-identifier"
                                }
                              }
                            }
                          },
                          "links": {
                            "$ref": "#/components/schemas/resource-links"
                          }
                        }
                      }
                    },
                    "included": {
                      "$ref": "#/components/schemas/included"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/page"
                        }
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/nav-links"
                    }
                  }
                }
              }
            },
            "description": "Successful index response"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "502": {
            "description": "Bad Gateway"
          }
        }
      }
    },
    "/audits/{id}": {
      "get": {
        "tags": [
          "Audits"
        ],
        "description": "audits read request",
        "parameters": [
          {
            "$ref": "#/components/parameters/header-authorization"
          },
          {
            "$ref": "#/components/parameters/query-company"
          },
          {
            "$ref": "#/components/parameters/query-sort"
          },
          {
            "$ref": "#/components/parameters/query-include"
          },
          {
            "$ref": "#/components/parameters/query-fields"
          }
        ],
        "security": [
          {
            "employee": []
          },
          {
            "customer": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "id",
                        "type",
                        "attributes"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/audits"
                        },
                        "relationships": {
                          "type": "object",
                          "properties": {
                            "object": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/object-identifier"
                              }
                            }
                          }
                        },
                        "links": {
                          "$ref": "#/components/schemas/resource-links"
                        }
                      }
                    },
                    "included": {
                      "$ref": "#/components/schemas/included"
                    }
                  }
                }
              }
            },
            "description": "Successful read response"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "502": {
            "description": "Bad Gateway"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/path-id"
        }
      ]
    },
    "/blackout-dates": {
      "get": {
        "tags": [
          "Blackout Dates"
        ],
        "description": "blackout-dates index request",
        "parameters": [
          {
            "$ref": "#/components/parameters/header-authorization"
          },
          {
            "$ref": "#/components/parameters/query-company"
          },
          {
            "$ref": "#/components/parameters/query-sort"
          },
          {
            "$ref": "#/components/parameters/query-include"
          },
          {
            "$ref": "#/components/parameters/query-fields"
          },
          {
            "$ref": "#/components/parameters/query-page"
          },
          {
            "$ref": "#/components/parameters/query-filter"
          }
        ],
        "security": [
          {
            "employee": []
          },
          {
            "customer": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "type",
                          "attributes"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/blackout-dates"
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "facilities": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/object-identifier"
                                }
                              }
                            }
                          },
                          "links": {
                            "$ref": "#/components/schemas/resource-links"
                          }
                        }
                      }
                    },
                    "included": {
                      "$ref": "#/components/schemas/included"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/page"
                        }
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/nav-links"
                    }
                  }
                }
              }
            },
            "description": "Successful index response"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "502": {
            "description": "Bad Gateway"
          }
        }
      }
    },
    "/blackout-dates/{id}": {
      "get": {
        "tags": [
          "Blackout Dates"
        ],
        "description": "blackout-dates read request",
        "parameters": [
          {
            "$ref": "#/components/parameters/header-authorization"
          },
          {
            "$ref": "#/components/parameters/query-company"
          },
          {
            "$ref": "#/components/parameters/query-sort"
          },
          {
            "$ref": "#/components/parameters/query-include"
          },
          {
            "$ref": "#/components/parameters/query-fields"
          }
        ],
        "security": [
          {
            "employee": []
          },
          {
            "customer": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "id",
                        "type",
                        "attributes"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/blackout-dates"
                        },
                        "relationships": {
                          "type": "object",
                          "properties": {
                            "facilities": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/object-identifier"
                              }
                            }
                          }
                        },
                        "links": {
                          "$ref": "#/components/schemas/resource-links"
                        }
                      }
                    },
                    "included": {
                      "$ref": "#/components/schemas/included"
                    }
                  }
                }
              }
            },
            "description": "Successful read response"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "502": {
            "description": "Bad Gateway"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/path-id"
        }
      ]
    },
    "/blocking-rules": {
      "get": {
        "tags": [
          "Blocking Rules"
        ],
        "description": "blocking-rules index request",
        "parameters": [
          {
            "$ref": "#/components/parameters/header-authorization"
          },
          {
            "$ref": "#/components/parameters/query-company"
          },
          {
            "$ref": "#/components/parameters/query-sort"
          },
          {
            "$ref": "#/components/parameters/query-include"
          },
          {
            "$ref": "#/components/parameters/query-fields"
          },
          {
            "$ref": "#/components/parameters/query-page"
          },
          {
            "$ref": "#/components/parameters/query-filter"
          }
        ],
        "security": [
          {
            "employee": []
          },
          {
            "customer": []
          },
          {
            "company": [
              "blocking-rule.INDEX"
            ]
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "type",
                          "attributes"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/blocking-rules"
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "blockingResource": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/object-identifier"
                                }
                              },
                              "blockingResourceArea": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/object-identifier"
                                }
                              },
                              "blockedResource": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/object-identifier"
                                }
                              },
                              "blockedResourceArea": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/object-identifier"
                                }
                              }
                            }
                          },
                          "links": {
                            "$ref": "#/components/schemas/resource-links"
                          }
                        }
                      }
                    },
                    "included": {
                      "$ref": "#/components/schemas/included"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/page"
                        }
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/nav-links"
                    }
                  }
                }
              }
            },
            "description": "Successful index response"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "502": {
            "description": "Bad Gateway"
          }
        }
      },
      "post": {
        "tags": [
          "Blocking Rules"
        ],
        "description": "blocking-rules create request",
        "parameters": [
          {
            "$ref": "#/components/parameters/header-authorization"
          },
          {
            "$ref": "#/components/parameters/query-company"
          }
        ],
        "security": [
          {
            "employee": []
          },
          {
            "company": [
              "blocking-rule.CREATE"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "id",
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/blocking-rules-create"
                      },
                      "relationships": {
                        "type": "object",
                        "properties": {
                          "blockingResource": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/object-identifier"
                            }
                          },
                          "blockingResourceArea": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/object-identifier"
                            }
                          },
                          "blockedResource": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/object-identifier"
                            }
                          },
                          "blockedResourceArea": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/object-identifier"
                            }
                          }
                        }
                      },
                      "links": {
                        "$ref": "#/components/schemas/resource-links"
                      }
                    }
                  },
                  "included": {
                    "$ref": "#/components/schemas/included"
                  }
                }
              }
            }
          },
          "description": "Resource to create"
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "202": {
            "description": "Accepted for Processing"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "502": {
            "description": "Bad Gateway"
          }
        }
      }
    },
    "/blocking-rules/{id}": {
      "get": {
        "tags": [
          "Blocking Rules"
        ],
        "description": "blocking-rules read request",
        "parameters": [
          {
            "$ref": "#/components/parameters/header-authorization"
          },
          {
            "$ref": "#/components/parameters/query-company"
          },
          {
            "$ref": "#/components/parameters/query-sort"
          },
          {
            "$ref": "#/components/parameters/query-include"
          },
          {
            "$ref": "#/components/parameters/query-fields"
          }
        ],
        "security": [
          {
            "employee": []
          },
          {
            "customer": []
          },
          {
            "company": [
              "blocking-rule.READ"
            ]
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "id",
                        "type",
                        "attributes"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/blocking-rules"
                        },
                        "relationships": {
                          "type": "object",
                          "properties": {
                            "blockingResource": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/object-identifier"
                              }
                            },
                            "blockingResourceArea": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/object-identifier"
                              }
                            },
                            "blockedResource": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/object-identifier"
                              }
                            },
                            "blockedResourceArea": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/object-identifier"
                              }
                            }
                          }
                        },
                        "links": {
                          "$ref": "#/components/schemas/resource-links"
                        }
                      }
                    },
                    "included": {
                      "$ref": "#/components/schemas/included"
                    }
                  }
                }
              }
            },
            "description": "Successful read response"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "502": {
            "description": "Bad Gateway"
          }
        }
      },
      "patch": {
        "tags": [
          "Blocking Rules"
        ],
        "description": "blocking-rules update request",
        "parameters": [
          {
            "$ref": "#/components/parameters/header-authorization"
          },
          {
            "$ref": "#/components/parameters/query-company"
          }
        ],
        "security": [
          {
            "employee": []
          },
          {
            "company": [
              "blocking-rule.UPDATE"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "id",
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/blocking-rules"
                      },
                      "relationships": {
                        "type": "object",
                        "properties": {
                          "blockingResource": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/object-identifier"
                            }
                          },
                          "blockingResourceArea": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/object-identifier"
                            }
                          },
                          "blockedResource": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/object-identifier"
                            }
                          },
                          "blockedResourceArea": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/object-identifier"
                            }
                          }
                        }
                      },
                      "links": {
                        "$ref": "#/components/schemas/resource-links"
                      }
                    }
                  },
                  "included": {
                    "$ref": "#/components/schemas/included"
                  }
                }
              }
            }
          },
          "description": "Resource to update"
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted for Processing"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "502": {
            "description": "Bad Gateway"
          }
        }
      },
      "delete": {
        "tags": [
          "Blocking Rules"
        ],
        "description": "blocking-rules delete request",
        "parameters": [
          {
            "$ref": "#/components/parameters/header-authorization"
          },
          {
            "$ref": "#/components/parameters/query-company"
          }
        ],
        "security": [
          {
            "employee": []
          },
          {
            "company": [
              "blocking-rule.DELETE"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted for Processing"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "502": {
            "description": "Bad Gateway"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/path-id"
        }
      ]
    },
    "/bookings": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "description": "bookings index request",
        "parameters": [
          {
            "$ref": "#/components/parameters/header-authorization"
          },
          {
            "$ref": "#/components/parameters/query-company"
          },
          {
            "$ref": "#/components/parameters/query-sort"
          },
          {
            "$ref": "#/components/parameters/query-include"
          },
          {
            "$ref": "#/components/parameters/query-fields"
          },
          {
            "$ref": "#/components/parameters/query-page"
          },
          {
            "$ref": "#/components/parameters/query-filter"
          }
        ],
        "security": [
          {},
          {
            "employee": []
          },
          {
            "customer": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "type",
                          "attributes"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/bookings"
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "invoice": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/object-identifier"
                                }
                              },
                              "customer": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/object-identifier"
                                }
                              },
                              "employee": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/object-identifier"
                                }
                              },
                              "events": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/object-identifier"
                                }
                              },
                              "signatureRequests": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/object-identifier"
                                }
                              }
                            }
                          },
                          "links": {
                            "$ref": "#/components/schemas/resource-links"
                          }
                        }
                      }
                    },
                    "included": {
                      "$ref": "#/components/schemas/included"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/page"
                        }
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/nav-links"
                    }
                  }
                }
              }
            },
            "description": "Successful index response"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "502": {
            "description": "Bad Gateway"
          }
        }
      }
    },
    "/bookings/{id}": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "description": "bookings read request",
        "parameters": [
          {
            "$ref": "#/components/parameters/header-authorization"
          },
          {
            "$ref": "#/components/parameters/query-company"
          },
          {
            "$ref": "#/components/parameters/query-sort"
          },
          {
            "$ref": "#/components/parameters/query-include"
          },
          {
            "$ref": "#/components/parameters/query-fields"
          }
        ],
        "security": [
          {},
          {
            "employee": []
          },
          {
            "customer": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "id",
                        "type",
                        "attributes"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/bookings"
                        },
                        "relationships": {
                          "type": "object",
                          "properties": {
                            "invoice": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/object-identifier"
                              }
                            },
                            "customer": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/object-identifier"
                              }
                            },
                            "employee": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/object-identifier"
                              }
                            },
                            "events": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/object-identifier"
                              }
                            },
                            "signatureRequests": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/object-identifier"
                              }
                            }
                          }
                        },
                        "links": {
                          "$ref": "#/components/schemas/resource-links"
                        }
                      }
                    },
                    "included": {
                      "$ref": "#/components/schemas/included"
                    }
                  }
                }
              }
            },
            "description": "Successful read response"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "502": {
            "description": "Bad Gateway"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/path-id"
        }
      ]
    },
    "/booking-contract-templates": {
      "get": {
        "tags": [
          "Booking Contract Templates"
        ],
        "description": "booking-contract-templates index request",
        "parameters": [
          {
            "$ref": "#/components/parameters/header-authorization"
          },
          {
            "$ref": "#/components/parameters/query-company"
          },
          {
            "$ref": "#/components/parameters/query-sort"
          },
          {
            "$ref": "#/components/parameters/query-include"
          },
          {
            "$ref": "#/components/parameters/query-fields"
          },
          {
            "$ref": "#/components/parameters/query-page"
          },
          {
            "$ref": "#/components/parameters/query-filter"
          }
        ],
        "security": [
          {
            "employee": []
          },
          {
            "company": [
              "booking-contract-template.INDEX"
            ]
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "type",
                          "attributes"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "attributes": {
                            "$ref": "#/components/schemas/booking-contract-templates"
                          },
                          "relationships": {
                            "type": "object",
                            "properties": {
                              "createdByEmployee": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/object-identifier"
                                }
                              },
                              "modifiedByEmployee": {
                                "type": "array",
                                "items": {
                                  "$ref": "#/components/schemas/object-identifier"
                                }
                              }
                            }
                          },
                          "links": {
                            "$ref": "#/components/schemas/resource-links"
                          }
                        }
                      }
                    },
                    "included": {
                      "$ref": "#/components/schemas/included"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "$ref": "#/components/schemas/page"
                        }
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/nav-links"
                    }
                  }
                }
              }
            },
            "description": "Successful index response"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "502": {
            "description": "Bad Gateway"
          }
        }
      },
      "post": {
        "tags": [
          "Booking Contract Templates"
        ],
        "description": "booking-contract-templates create request",
        "parameters": [
          {
            "$ref": "#/components/parameters/header-authorization"
          },
          {
            "$ref": "#/components/parameters/query-company"
          }
        ],
        "security": [
          {
            "employee": []
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "id",
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/booking-contract-templates-create"
                      },
                      "relationships": {
                        "type": "object",
                        "properties": {
                          "createdByEmployee": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/object-identifier"
                            }
                          },
                          "modifiedByEmployee": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/object-identifier"
                            }
                          }
                        }
                      },
                      "links": {
                        "$ref": "#/components/schemas/resource-links"
                      }
                    }
                  },
                  "included": {
                    "$ref": "#/components/schemas/included"
                  }
                }
              }
            }
          },
          "description": "Resource to create"
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "202": {
            "description": "Accepted for Processing"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "409": {
            "description": "Conflict"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "502": {
            "description": "Bad Gateway"
          }
        }
      }
    },
    "/booking-contract-templates/{id}": {
      "get": {
        "tags": [
          "Booking Contract Templates"
        ],
        "description": "booking-contract-templates read request",
        "parameters": [
          {
            "$ref": "#/components/parameters/header-authorization"
          },
          {
            "$ref": "#/components/parameters/query-company"
          },
          {
            "$ref": "#/components/parameters/query-sort"
          },
          {
            "$ref": "#/components/parameters/query-include"
          },
          {
            "$ref": "#/components/parameters/query-fields"
          }
        ],
        "security": [
          {
            "employee": []
          },
          {
            "company": [
              "booking-contract-template.READ"
            ]
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "id",
                        "type",
                        "attributes"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/booking-contract-templates"
                        },
                        "relationships": {
                          "type": "object",
                          "properties": {
                            "createdByEmployee": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/object-identifier"
                              }
                            },
                            "modifiedByEmployee": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/object-identifier"
                              }
                            }
                          }
                        },
                        "links": {
                          "$ref": "#/components/schemas/resource-links"
                        }
                      }
[...]
